<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-body" style="padding-bottom: 50px;">
        <div class="form-group first">
            <label class="col-md-4 control-label">{{t('fields.vnf_name')}}</label>
            <div class="col-md-8">
                <span class="form-control-static">{{data.vnfciHostname}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">{{t('fields.vim')}}</label>
            <div class="col-md-6">
                <select class="form-control" required validation [(ngModel)]="selectedVim" (ngModelChange)="vimSelected($event)" name="vim">
                    <option *ngFor="let vim of vims" [ngValue]="vim">
                        {{vim.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">{{t('fields.failover_ip')}}</label>
            <div class="col-md-6">
                <select class="form-control" required validation [(ngModel)]="data.failOverDescription" name="failOverDescription">
                    <option *ngFor="let host of hosts" [value]="host.hostIp">
                        {{host.hostIp}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>
<!-- END FORM-->
