<!--<div class="portlet light form-fit bordered" style="padding-top: 50px;">-->
<!--<div class="portlet-title">-->
<!--<div class="caption font-dark">-->
<!--<i class="{{icon}} fa-dark"></i>-->
<!--<span class="caption-subject bold uppercase">{{t("success")}}</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="portlet-body">-->
<!--<div class="profile-sidebar" style="float:none; margin:auto;">-->
<!--<div class="portlet light profile-sidebar-portlet bordered">-->
<!--<div class="portlet light">-->
<!--<div class="profile-userpic">-->
<!--<img *ngIf="currentUser.image" src="{{currentUser.image}}" class="img-responsive" alt="">-->
<!--</div>-->
<!--<div>-->
<!--<div style="text-align: center;">-->
<!--<h3>{{t('welcome')}}</h3>-->
<!--<h4 class="profile-desc-title">{{currentUser.name}} {{currentUser.surname}}</h4>-->
<!--<span class="profile-desc-text"> {{currentUser.username}} </span>-->
<!--</div>-->
<!--<div class="margin-top-20 profile-desc-link">-->
<!--<i class="fa fa-clock-o"></i>-->
<!--<span *ngIf="currentUser.lastAccess">{{t('labels.lastAccess')}}: {{currentUser.lastAccess}}</span>-->
<!--<span *ngIf="!currentUser.lastAccess">{{t('labels.lastAccess')}}: {{lastAccess}}</span>-->
<!--</div>-->
<!--<div class="margin-top-20 profile-desc-link">-->
<!--<i class="fa fa-arrow-right"></i>-->
<!--<span>{{t('labels.timepassed')}}: {{days}}:{{timepassed}}</span>-->
<!--</div>-->
<!--<div class="margin-top-20 profile-desc-link">-->
<!--<i class="fa fa-hourglass-end"></i>-->
<!--<span>{{t('labels.accessTimeEnd')}}: {{accessTimeEnd}}</span>-->
<!--</div>-->
<!--<div class="margin-top-20 profile-desc-link" style="text-align: center;">-->
<!--<button type="button" class="btn btn-circle red" (click)="logout()">-->
<!--{{t('actions.logout.title')}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="page-content-container">
    <div class="page-content-row">
        <div class="page-content-col">
            <div class="row">
                <div class="col-md-offset-4 col-md-12">
                    <div class="profile-sidebar">
                        <div class="portlet light profile-sidebar-portlet bordered" style="margin-top: 20px;">
                            <div class="profile-userpic">
                                <img *ngIf="currentUser.image" src="{{currentUser.image}}" class="img-responsive"
                                     alt="">
                            </div>
                            <div class="profile-usertitle">
                                {{t('welcome')}}
                                <div class="profile-usertitle-name"> {{currentUser.name}} {{currentUser.surname}}</div>
                                <!--<div class="profile-usertitle-job"> {{currentUser.username}}</div>-->
                            </div>
                            <div class="profile-userbuttons">
                                <button type="button" class="btn btn-circle red btn-sm" (click)="logout()">
                                    {{t('actions.logout.title')}}
                                </button>
                            </div>
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-clock-o"></i> <span *ngIf="currentUser.lastAccess">{{t('labels.lastAccess')}}: {{currentUser.lastAccess}}</span>
                                            <span *ngIf="!currentUser.lastAccess">{{t('labels.lastAccess')}}: {{lastAccess}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-arrow-right"></i>{{t('labels.timepassed')}}:
                                            {{days}}:{{timepassed}}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-hourglass-end"></i>{{t('labels.accessTimeEnd')}}:
                                            {{accessTimeEnd}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>