<div class="row" >
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject bold uppercase" >{{title}}</span>
                </div>
                <div class="actions">
                    <ng-template ngFor let-action [ngForOf]="pageActions" let-i="index">
                        <a *ngIf="!action.subActions" (click)="executeAction(action)" [class]="resolvePageBtnClass(action)" [title]="action.title" rel="tooltip">
                            <i [class]="action.icon"></i>
                            <span *ngIf="action.title_short" >{{action.title_short}}</span>
                        </a>
                        <div *ngIf="action.subActions" class="btn-group" >
                            <a [class]="resolvePageBtnClass(action)" href="javascript:;" data-toggle="dropdown" aria-expanded="false"
                               [title]="action.title" rel="tooltip" >
                                <i [class]="action.icon"></i>
                                <span *ngIf="action.title_short" >{{action.title_short}}</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <ng-template ngFor let-subAction [ngForOf]="action.subActions" let-j="index">
                                    <li >
                                        <a (click)="executeAction(subAction)" [class]="subAction.color" [title]="subAction.title" rel="tooltip"  >
                                            <i [class]="subAction.icon"></i>
                                            <span >{{subAction.title}}</span>
                                        </a>
                                    </li>
                                </ng-template>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-body">
                    <ng-template ngFor let-action [ngForOf]="testActions" let-i="index">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{action.title}}</h3>
                                <!-- div class="actions">
                                    <a (click)="executeAction(action)" [class]="resolveBtnClass(action)" [title]="action.title" rel="tooltip">
                                        <i [class]="action.icon"></i>
                                    </a>
                                </div -->
                            </div>
                            <div class="panel-body">
                                <div *ngIf="action.subActions" >
                                    <ng-template ngFor let-subAction [ngForOf]="action.subActions" let-j="index">
                                        <button (click)="executeAction(subAction)" type="button" [class]="resolveBtnClass(subAction)" >
                                            <i *ngIf="subAction.icon" [class]="subAction.icon" [title]="subAction.title" rel="tooltip"  ></i>
                                            <span *ngIf="subAction.title" >{{subAction.title}}</span>
                                        </button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

