<div class="portlet-body">
    <div class="row">
        <div class="col-md-12 graphContainer">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>{{t('filter.mvtn')}}</label>
            <select class="form-control" (ngModelChange)="virtualNetworkSelected($event)"
                    [ngModel]="selectedVirtualNetwork">
                <option *ngFor="let network of virtualNetworks" [ngValue]="network">
                    {{network.name}}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label>{{t('filter.devices')}}</label>
            <!--<select class="switchSelect form-control" (ngModelChange)="switchChanged($event)" [ngModel]="selectedSwitch"  style="width: 100%">-->
            <!--<option *ngFor="let switch of selectedVirtualNetwork?.topologyData?.switches;" [ngValue]="switch">-->
            <!--{{topologyService.generateSwitchName(switch.id)}}-->
            <!--</option>-->
            <!--</select>-->
            <select class="switchSelect form-control" multiple="multiple" style="width: 100%">
                <option *ngFor="let switch of selectedVirtualNetwork?.topologyData?.switches;" [value]="switch.id">
                    {{switch.id}}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label>{{t('filter.metrics')}}</label>
            <select class="metricSelect" multiple="multiple" style="width: 100%">
                <option *ngFor="let metric of filteredMetrics;" [value]="metric.metricName">
                    {{t('metrics.' + metric.metricName)}}
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <label>{{t('filter.duration')}}</label>
            <select (ngModelChange)="durationChanged($event)" [ngModel]="selectedDuration" class="form-control"
                    style="padding: 0;">
                <option *ngFor="let duration of durations;" [ngValue]="duration">
                    {{duration.val }} {{t('duration.display.' + duration.unit)}}
                </option>
            </select>
        </div>
    </div>
</div>
