<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="fa fa-file font-red-sunglo"></i>
            <span class="caption-subject sbold uppercase">{{t('propertyList.dhcpOption')}} [{{ option?.dhcpOptionKey }}-{{ optionKey?.name }}]</span>
        </div>
    </div>
    <div class="portlet-body">
        <form action="#">
            <div class="form-group first">
                <label class="col-md-4 control-label">{{t('option.type')}}</label>
                <div class="col-md-8">
                    <select [(ngModel)]="option.dhcpOptionKey" (ngModelChange)="modelChanged()" class="form-control" name="key" required validation>
                        <option *ngFor="let opt of dhcpOptionNamesFiltered | keys" [value]="opt.key">
                            [{{opt.key}}] {{opt.value.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('option.value')}}</label>
                <div class="col-md-8" [ngSwitch]="dhcpOptionKeys[option.dhcpOptionKey]?.type">
                    <div *ngSwitchDefault>
                        <input type="text" class="form-control" (ngModelChange)="modelChanged()" required validation
                               [(ngModel)]="option.dhcpOptionValue" name="value">
                    </div>
                    <div *ngSwitchCase="types.DATE_TIME" class="form-group">
                        <div class="col-md-4">
                            <input #dateValue type="number" class=" form-control" required validation min="1" value="1"
                                   name="timeValue" [(ngModel)]="timeValue" (ngModelChange)="modelChanged()"
                                   (change)="option.dhcpOptionValue = (dateValue.value * dateUnit.value) + ''">
                        </div>
                        <div class="col-md-8">
                            <select #dateUnit class="form-control" name="timeUnit" [(ngModel)]="timeUnit"  (ngModelChange)="modelChanged()"
                                    (change)="option.dhcpOptionValue = (dateValue.value * dateUnit.value) + ''">
                                <option *ngFor="let time of times | keys" [value]="times[time.key]">{{t('option.' + time.key  )}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngSwitchCase="types.IP_ADDRESS">
                        <input class="form-control" required validation  (ngModelChange)="modelChanged()" ip
                               [(ngModel)]="option.dhcpOptionValue" name="value">
                    </div>
                    <div *ngSwitchCase="types.NUMBER">
                        <input type="number" class="form-control" required validation  (ngModelChange)="modelChanged()"
                               restrict [restrict_type]="'number'"
                               [(ngModel)]="option.dhcpOptionValue" name="value">
                    </div>
                </div>
            </div>
            <div class="form-actions" *ngIf="hasChanged || !option.id">
                <div class="col-md-12 align-center">
                    <button (click)="save();" name="save" class="btn uppercase green-meadow"  >
                        <i class="fa fa-floppy-o"></i>
                        <span>{{t('option.save')}}</span>
                    </button>
                    <button (click)="cancel();" name="cancel" class="btn btn-outline lowercase red-sunglo" *ngIf="option.id" >
                        <i class="fa fa-ban"></i>
                        <span>{{t('option.cancel')}}</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
