.form-control-static {
    font-weight: bold;
}

.meta {
    display: inline-block;
}

.user-history {
    padding-top: 10px
}

.details {
    margin-top: 20px;
    text-align: right;
}

#user-history-title {
    text-align: left;
    font-weight: bold;
    color: #E26A6A !important;
}

#user-history-duration {
    text-align: right;
}

.time-opt {
    width: 200px;
}

#pie-1,
#pie-2 {
    height: 270px;
}

#line-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 270px;
}

.portlet-error {
    background-color: antiquewhite;
    padding-left: 20px;
}

.portlet-no-data {
    background-color: lightgoldenrodyellow;
    padding-left: 20px;
}

.portlet-submit {
    background-color: aliceblue;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

/* bootstrap hack end */