<div *ngIf="hasItems" class="btn-group-notification {{buttonClass}} btn-group"
     id="header_notification_bar">
    <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" rel="tooltip"
            [title]="title"
            data-hover="dropdown" data-close-others="true">
        <i [class]="iconClass"></i>
        <span class="badge">{{badgeNumber}}</span>
    </button>
    <ul class="dropdown-menu-v2">
        <li class="external">
            <h3 [innerHtml]="itemCount"></h3>
            <a href="javascript:;" (click)="viewAll()">{{viewAllTitle}}</a>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 600px; padding: 0;"
                data-handle-color="#637283">
                <li *ngFor="let item of items" class="">
                    <a href="javascript:;" (click)="viewItem(item)">
                                            <span class="details font-{{item?.severity?.color}}">
                                                <span *ngIf="item.status" class="label label-sm label-icon bg-{{item?.status?.color}} bg-font-{{item?.status?.color}}"
                                                      rel="tooltip" title="{{item?.status?.title}}">
                                                    <i class="{{item?.status?.icon}}"></i>
                                                </span>
                                                <span class="label label-sm label-icon bg-{{item?.severity?.color}} bg-font-{{item?.severity?.color}}"
                                                      rel="tooltip" title="{{item?.severity?.title}}">
                                                    <i class="{{item?.severity?.icon}}"></i>
                                                </span>
                                                {{item.name}}
                                            </span>
                        <span class="time bg-{{item?.severity?.color}} bg-font-{{item?.severity?.color}}">{{item?.timeago}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>