<style>
    .selectListItem {
        min-height: 35px;
        margin-bottom: 5px;
        width: 100%;
    }

</style>
<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-body">

        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.type.label')}}</label>
            <div class="col-md-6">
                <select class="form-control"  id="type"
                        required
                        [ngModel]="data.type" name="type" (ngModelChange)="typeChange($event)">
                    <option *ngFor="let type of types" [value]="type">{{type}}</option>
                </select>
            </div>
        </div>

        <div class="form-group first" >
            <label class="col-md-3 control-label">{{t('fields.mac.label')}}</label>
            <div class="col-md-6">
                <input restrict class="form-control" required validation [restrict_mask]="'mac'"
                       placeholder="{{t('fields.mac.placeholder')}}"
                       [(ngModel)]="data.mac" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.IP.label')}}</label>
            <div class="col-md-6">
                <input *ngIf= "data.ip" [disabled]="'true'" class="form-control" required validation
                       ip
                       placeholder="{{t('fields.IP.placeholder')}}"
                       [(ngModel)]="deviceIp" [ngModelOptions]="{standalone: true}">
                <input *ngIf= "!data.ip" class="form-control" required validation
                       ip
                       placeholder="{{t('fields.IP.placeholder')}}"
                       [(ngModel)]="deviceIp" [ngModelOptions]="{standalone: true}">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.switch_list.label')}}</label>
            <div class="col-md-6">
                <select class="form-control" id="switch-list" required validation>
                </select>
                <!--<span class="help-block">{{t('fields.collision.help_line')}}</span>-->
            </div>
        </div>
        <div class="form-group last">
            <label class="col-md-3 control-label">{{t('fields.port_no.label')}}</label>
            <div class="col-md-6">
                <input restrict [restrict_type]="'number'" class="form-control" required validation
                       placeholder="{{t('fields.port_no.placeholder')}}"
                       [(ngModel)]="portNo" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group" *ngIf="data && data.type && data.type != NETWORKDEVICETYPE.FIREWALL">
            <label class="col-md-3 control-label">{{t('fields.vlan_id.label')}}</label>
            <div class="col-md-6">
                <input restrict [restrict_type]="'number'" class="form-control"
                       placeholder="{{t('fields.vlan_id.placeholder')}}"
                       [(ngModel)]="vlanid" [ngModelOptions]="{standalone: true}">
                <!--<span class="help-block">{{t('fields.collision.help_line')}}</span>-->
            </div>
        </div>
        <div class="" *ngIf="data.type == NETWORKDEVICETYPE.VRR">
            <div class="portlet light form-fit bordered">
                <div class="portlet-title">
                    <div class="caption-subject font-red-sunglo bold uppercase">
                        {{t('fields.redundancy_devices.label')}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group">
                                <a id="addDevice" class="btn" href="javascript:;" (click)="addDevice()">
                                    <i class="fa fa-plus-circle"></i> <span
                                        style="font-weight: bold;"> {{t('fields.add')}}</span>
                                </a>
                            </div>
                            <div id="selectBox" class="list-group" style="cursor: move; padding-left: 20px;">
                                <div class="btn btn-default selectListItem" role="button"
                                     *ngFor="let device of data.redundancyDevices;" [class.active]="device == selectedDevice"
                                     (click)="selectDevice(device);" [attr.data-temporaryId]="device.temporaryId">
                                    <span>{{device.ip}}</span>
                                    <i (click)="deleteDevice(device, $event)" class="fa fa-trash-o" aria-hidden="true"
                                       style="float: right; cursor:pointer;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <device-details [selectedDevice]="selectedDevice">
                            </device-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- END FORM-->