<!-- BEGIN FORM-->
<form action="#" name="deviceEdit" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">{{t('fields.type.label')}}</label>
        <div class="col-md-4">
            <select class="form-control" required [(ngModel)]="data.type" #hostType name="type">
                <option *ngFor="let type of types" [value]="type">
                    {{baseServices.uiHelper.getIconTitle('HOSTTYPE', type)}}
                </option>
            </select>
            <span class="help-block">{{t('fields.type.help_line')}}</span>
        </div>
        <label class="col-md-2 control-label">{{t('fields.status.label')}}</label>
        <div class="col-md-4">
            <select class="col-md-4 form-control" required [(ngModel)]="data.status" name="status">
                <option *ngFor="let s of statuses" [value]="s">
                    {{getIconTitle('NACDEVICESTATUS', s)}}
                </option>
            </select>
            <span class="help-block">{{t('fields.status.help_block')}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{{t('fields.name.label')}}</label>
        <div class="col-md-4">
            <input type="text" maxlength="50" class="form-control" placeholder="{{t('fields.name.placeholder')}}" required
                   validation [(ngModel)]="data.name" name="name">
            <span class="help-block">{{t('fields.name.help_line')}}</span>
        </div>
        <label class="col-md-2 control-label">{{t('fields.mac.label')}}</label>
        <div class="col-md-4">
            <input restrict [restrict_mask]="'mac'"
                   type="text"  class="form-control" placeholder="{{t('fields.mac.placeholder')}}" required validation
                   [(ngModel)]="data.mac" name="mac">
            <span class="help-block">{{t('fields.mac.help_line')}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{{t('fields.securityLevel.label')}}</label>
        <div class="col-md-4">
            <select class="form-control" required validation [(ngModel)]="data.securityLevel" name="securityLevels">
                <!-- option value="0">{{t('fields.securityLevel.placeholder')}}</option -->
                <option *ngFor="let p of securityLevels" [value]="p">{{p}}</option>
            </select>
            <span class="help-block">{{t('fields.securityLevel.help_line')}}</span>
        </div>
        <label class="col-md-2 control-label">{{t('fields.virtual_network.label')}}</label>
        <div class="col-md-4">
            <select class="form-control" [attr.required]="p('phy_topo:manage') ? null : true"
                    validation [(ngModel)]="data.mvtnId" name="virtualNetwork">
                <option value="">{{t('labels.no_mvtn')}}</option>
                <option *ngFor="let item of virtualNetworks" [value]="item.id">{{item?.name}}</option>
            </select>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">{{t('fields.isExempt.label')}}</label>
        <div class="col-md-4">
            <div class="col-md-4">
                <input type="checkbox" [(ngModel)]="data.isExempt" name="isExempt">
                <span class="help-block">{{t('fields.isExempt.help_line')}}</span>
            </div>
        </div>
    </div>
    <div [hidden]="!data.isExempt">
        <span class="caption-subject font-red-sunglo bold uppercase">{{t('labels.exemptedDevice')}}</span>
        <hr style="margin-top: 2px;">
    </div>
    <div [hidden]="!data.isExempt" class="form-group">
        <label class="col-md-2 control-label">{{t('fields.nacGroup.label')}}</label>
        <div class="col-md-4">
            <select  class="form-control" [attr.required]="data.isExempt ? true : null" validation [(ngModel)]="data.nacGroup" name="nacGroup">
                <option value="">{{t('fields.nacGroup.placeholder')}}</option>
                <option *ngFor="let g of nacGroups" [ngValue]="g">{{g.name}}</option>
            </select>
            <span class="help-block">{{t('fields.nacGroup.help_block')}}</span>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</form>
<!-- END FORM-->
