<div *ngIf="controllersTabFlag === 'true'">
    <div *ngIf="controllerTabData">
        <controllers-widget #controllerTabsWidget [controllerTabData]="controllerTabData" #controllerTabElement></controllers-widget>
    </div>
</div>


<div *ngIf="detailInfoFlag === 'true'">
    <info-tooltip-widget #infoTooltipWidget [infoTooltipData]="infoTooltipData" [topologyData]="topologyData" #infoTooltipElement></info-tooltip-widget>
</div>

<div *ngIf="footerFlag === 'true'">
    <footer-tooltip-widget #footerTooltipWidget [footerTooltipData]="footerTooltipData" #footerTooltipElement></footer-tooltip-widget>
</div>

<div *ngIf="nodeEditorShowHideFlag()">
    <node-editor #nodeEditorComponent
            [height]="height"
            [topologyData]="topologyData"
            [selectedElementToEdit]="selectedElementToEdit"
            (onRenderTrigger)="onRenderTrigger($event)"
            (resetState)="resetSelectedElementState($event)"
            (deleteElement)="deleteElement($event)"
            (refreshTopology)="refreshSelectedTopology($event)"
            (createAndSaveSelectedTopology)="createAndSendVirtualTopology($event)"
            (topologyEditPopup)="emitTopologyEditPopup()"
            ></node-editor>
</div>

<alarm-status-popover-window [alarmStatus]="alarmStatus" [aspcDisplay]="aspcDisplay" [aspcLeft]="aspcLeft" [aspcTop]="aspcTop"></alarm-status-popover-window>

<svg id="show-topo-svg">

</svg>