<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.domainId')}}</label>
        <div class="col-md-9">
            <input *ngIf="isNewItem" [disabled]="!isNewItem" class="form-control" required validation [(ngModel)]="data.domainId" name="domainId"/>
            <span *ngIf="!isNewItem" class="form-control-static" >{{data.domainId}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.name')}}</label>
        <div class="col-md-9">
            <input class="form-control" required validation [(ngModel)]="data.name" name="name"/>
        </div>
    </div>
</form>
<!-- END FORM-->
