<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.policy_name.label')}}</label>
        <div class="col-md-5">
            <input type="text" class="form-control" maxlength="50"
                   placeholder="{{t('fields.policy_name.placeholder')}}" required validation
                   [(ngModel)]="data.policyName"
                   name="policyName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.virtual_network.label')}}</label>
        <div class="col-md-5">
            <select class="form-control" [attr.required]="p('phy_topo:manage') ? null : true"
                    validation [(ngModel)]="data.mvtnId" name="virtualNetwork">
                <option value="0">{{t('labels.no_mvtn')}}</option>
                <option *ngFor="let item of virtualNetworks" [value]="item.id">{{item?.name}}</option>
            </select>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.traffic_category.label')}}</label>
        <div class="col-md-5">
            <select class="form-control" id="traffic-category-selection">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.priority.label')}}</label>
        <div class="col-md-4">
            <input class="form-control"
                   validation required restrict [restrict_type]="'number'" maxlength="5" type="number" min="0"
                   placeholder="{{t('fields.priority.placeholder')}}"
                   [(ngModel)]="data.priority" name="priority">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.security_level.label')}}</label>
        <div class="col-md-4">
            <select class="form-control" id="security-level-selection" [(ngModel)]="data.securityLevel"
                    name="securityLevel">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.link_type.label')}}</label>
        <div class="col-md-5">
            <select class="form-control" [(ngModel)]="data.linkType" name="linkType">
                <option value="0">{{t('labels.no_link_type')}}</option>
                <option *ngFor="let item of linkTypes" [value]="item">{{i18n.t("enums.LINKTYPE." + item)}}</option>
            </select>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group ">
        <label class="col-md-3 control-label">{{t('fields.required_devices.label')}}</label>
        <div class="col-md-5">
            <select select2 id="includedDevice" class="form-control" multiple="multiple"
                    [ngModel]="includedDevices" (ngModelChange)="data.includedDevices = $event" name="includedDevices"
                    style="width: 100%">
                <option *ngFor="let device of switchList" [value]="device.id">{{device.id}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.blocked_devices.label')}}</label>
        <div class="col-md-5">
            <select select2 id="select2-button-excluded-devices" class="form-control" multiple="multiple"
                    [ngModel]="excludedDevices" (ngModelChange)="data.excludedDevices = $event" name="excludedDevices"
                    style="width: 100%">
                <option *ngFor="let device of switchList" [value]="device.id">{{device.id}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.max_bw.label')}}</label>
        <div class="col-md-4">
            <input #bandWidth type="text" class="form-control"
                   restrict [restrict_type]="'number'" maxlength="8" type="number" min="0" max="10000"
                   placeholder="{{t('fields.max_bw.placeholder')}}"
                   [restrict_maxvalue]="bandWidthUnit.options[bandWidthUnit.selectedIndex]?.dataset.max"
                   [restrict_minvalue]="bandWidthUnit.options[bandWidthUnit.selectedIndex]?.dataset.min"
                   [restrict_minError]="i18n.t('common.messages.bandwidth_field_value_error_min')"
                   [restrict_maxError]="i18n.t('common.messages.bandwidth_field_value_error_max')"
                   validation
                   [(ngModel)]="data.maxBandwidth" name="maxBandwidth">
        </div>
        <div class="col-md-2">
            <select #bandWidthUnit class="form-control" id="bw-unit-selection"
                    [(ngModel)]="data.maxBandwidthUnit"
                    (change)="changeBandWith()"
                    name="maxBandwidthUnit">
                <!--<option *ngFor="let unit of bwunits" [value]="unit">{{i18n.t('enums.BWUNIT.' + unit)}}-->
                <!--</option>-->
                <option data-min="100" data-max="10000000" value="KBPS">KBPS</option>
                <option data-min="0.1" data-max="10000" value="MBPS">MBPS</option>
                <option data-min="0.0001" data-max="10" value="GBPS">GBPS</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.energyConsumption.label')}}</label>
        <div class="col-md-4">
            <input class="form-control"
                   validation restrict [restrict_type]="'number'" maxlength="5" type="number" min="0"
                   placeholder="{{t('fields.energyConsumption.placeholder')}}"
                   [(ngModel)]="data.energyConsumption" name="energyConsumption">
        </div>
        <div class="col-md-2">
            <label class="form-control-static">{{t('fields.energyConsumption.unit')}}</label>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title caption-subject font-red-sunglo bold uppercase">
                {{t('actions.title')}}
            </div>
            <div class="portlet-body">
                <div class="form-body" style="padding:0;">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div *ngIf="dscpFlag || ipHeaderFlag || trafficHoppingFlag || encryptedPathCreationFlag || vlanFlag || pathReduceFlag || internetFlag || channelFlag"
                                 class="btn-group" style="margin-left:10px;">
                                <a class="btn" href="javascript:;" data-toggle="dropdown">
                                    <i class="fa fa-plus-circle"></i> <span
                                        style="font-weight: bold;"> {{t('actions.add')}}</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li *ngIf="dscpFlag || ipHeaderFlag || vlanFlag" class="dropdown-submenu">
                                        <a tabindex="-1">{{t('labels.title_actions')}}</a>
                                        <ul class="dropdown-menu">
                                            <li *ngIf="dscpFlag">
                                                <a href="javascript:;" (click)="dscpRule()">
                                                    {{t('actions.dscp_marking.title')}}</a>
                                            </li>
                                            <li *ngIf="ipHeaderFlag">
                                                <a href="javascript:;" (click)="ipHeaderRule()">
                                                    {{t('actions.ip_header_change.title')}}</a>
                                            </li>
                                            <li *ngIf="vlanFlag">
                                                <a href="javascript:;" (click)="vlanRule()">
                                                    {{t('actions.vlan.title')}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li *ngIf="(dscpFlag || ipHeaderFlag || vlanFlag) && (trafficHoppingFlag || encryptedPathCreationFlag || flowBalancerFlag)"
                                        class="divider"></li>
                                    <li *ngIf="trafficHoppingFlag || encryptedPathCreationFlag || pathReduceFlag || internetFlag || flowBalancerFlag || channelFlag"
                                        class="dropdown-submenu">
                                        <a tabindex="-1">{{t('labels.path_actions')}}</a>
                                        <ul class="dropdown-menu">
                                            <li *ngIf="trafficHoppingFlag">
                                                <a href="javascript:;" (click)="trafficHoppingRule()">
                                                    {{t('actions.traffic_hopping.title')}}</a>
                                            </li>
                                            <li *ngIf="encryptedPathCreationFlag"
                                                (click)="encryptedPathCreationRule()">
                                                <a href="javascript:;">{{t('actions.encrypted_path.title')}}</a>
                                            </li>
                                            <li *ngIf="pathReduceFlag" (click)="pathReduceRule()">
                                                <a href="javascript:;"> {{t('actions.path_reduce.title')}}
                                                </a>
                                            </li>
                                            <li *ngIf="internetFlag" (click)="internetRule()">
                                                <a href="javascript:;"> {{t('actions.internet.title')}}
                                                </a>
                                            </li>
                                            <li *ngIf="flowBalancerFlag" (click)="flowBalancerRule()">
                                                <a href="javascript:;"> {{t('actions.flow_balancer.title')}}
                                                </a>
                                            </li>
                                            <li *ngIf="sfcFlag" (click)="sfcRule()">
                                                <a href="javascript:;"> {{t('actions.sfc.title')}}
                                                </a>
                                            </li>
                                            <li *ngIf="channelFlag" (click)="channelRule()">
                                                <a href="javascript:;"> {{t('actions.control_channel.title')}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <a (click)="deleteRule()">
                                <i style="margin-left:5px;" class="fa fa-minus-circle"></i>
                                <span style="font-weight: bold;"
                                      (click)="deleteRule()"> {{t('actions.delete')}}</span>
                            </a>
                            <select id="selectBox" class="form-control" size="4"
                                    style="overflow:hidden;height:27.8vh;"></select>
                        </div>
                        <div class="col-md-9" style="padding-top: 20px;">
                            <div [ngSwitch]="currentRule">
                                            <span *ngSwitchCase="'ipHeaderRule'"
                                                  style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                                  class="caption-subject font-red-sunglo bold uppercase">{{t('actions.ip_header_change.settings_title')}} </span>
                                <span *ngSwitchCase="'dscpRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.dscp_marking.settings_title')}} </span>
                                <span *ngSwitchCase="'vlanRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.vlan.settings_title')}} </span>
                                <span *ngSwitchCase="'trafficHoppingRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.traffic_hopping.settings_title')}} </span>
                                <span *ngSwitchCase="'encryptedPathCreationRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.encrypted_path.settings_title')}} </span>
                                <span *ngSwitchCase="'pathReduceRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.path_reduce.settings_title')}} </span>
                                <span *ngSwitchCase="'internetRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.internet.settings_title')}} </span>
                                <span *ngSwitchCase="'flowBalancerRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.flow_balancer.settings_title')}} </span>
                                <span *ngSwitchCase="'sfcRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.sfc.settings_title')}} </span>
                                <span *ngSwitchCase="'channelRule'"
                                      style="float:left; margin-top:-9px; margin-left:8px; background-color: white;"
                                      class="caption-subject font-red-sunglo bold uppercase">{{t('actions.control_channel.settings_title')}} </span>
                                <div *ngSwitchDefault style="text-align: center;line-height: 27.8vh;">
                                    <span>{{t('actions.nothing_selected')}}</span>
                                </div>
                            </div>
                            <div *ngIf="currentRule" class="row">
                                <div class="col-md-12">
                                    <div class="portlet light form-fit bordered"
                                         style="margin-bottom: 0 !important">
                                        <div class="portlet-body form">
                                            <form class="form-horizontal" [ngSwitch]="currentRule">
                                                <div class="form-body" *ngSwitchCase="'ipHeaderRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 ">{{t('actions.ip_header_change.target_ip')}}</label>
                                                        <div class="col-md-5">
                                                            <input type="text" ip class="form-control" required name="ipv4"
                                                                   [(ngModel)]="data.changeHeaders.dstIp.ipv4">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 ">{{t('actions.ip_header_change.mac')}}</label>
                                                        <div class="col-md-5">
                                                            <input type="text" restrict [restrict_mask]="'mac'"
                                                                   class="form-control" name="mac"
                                                                   [(ngModel)]="data.changeHeaders.dstMac">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'encryptedPathCreationRule'">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <p class="text-center">
                                                                {{t('actions.encrypted_path.info')}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'pathReduceRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            {{t('actions.path_reduce.flow_control_management')}}
                                                        </label>
                                                        <div class="col-md-6">
                                                            <select class="form-control" id="flowControl"
                                                                    [(ngModel)]="data.reservedPath"
                                                                    name="reservedPath">
                                                                <option *ngFor="let s of ReserveTypeList"
                                                                        [value]="s">
                                                                    {{i18n.t('enums.RESERVEDPATH.'+s+".title")}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            {{t('actions.path_reduce.setPath')}}
                                                        </label>
                                                        <div class="col-md-8">
                                                            <label>
                                                                <input type="checkbox"
                                                                       [(ngModel)]="data.useLowFlowSwitch"
                                                                       name="useLowFlowSwitch">
                                                                {{t('actions.path_reduce.useLowFlowSwitch')}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-offset-3 col-md-6">
                                                            <label>
                                                                <input type="checkbox" [(ngModel)]="data.useMinHOP"
                                                                       name="useMinHOP">
                                                                {{t('actions.path_reduce.useMinHOP')}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'internetRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            {{t('actions.internet.access_control')}}
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select class="form-control" id="type" required
                                                                    [(ngModel)]="data.ntopRoute"
                                                                    name="ntopRoute">
                                                                <option *ngFor="let ntopRoute of ntopRoutes"
                                                                        [value]=ntopRoute>
                                                                    {{i18n.t('enums.NTOPROUTE.'+ntopRoute)}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'flowBalancerRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            {{t('actions.flow_balancer.method')}}
                                                        </label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" id="flowBalancer" required
                                                                    [(ngModel)]="flowBalance"
                                                                    name="flowBalancer">
                                                                <option *ngFor="let flow of flowBalances"
                                                                        [value]=flow>
                                                                    {{i18n.t('enums.FLOWBALANCECONSTRAINTTYPE.'+flow)}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'sfcRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            {{t('actions.sfc.method')}}
                                                        </label>
                                                        <div class="col-md-5">
                                                            <select class="form-control" id="sfc" required
                                                                    [(ngModel)]="typeName"
                                                                    name="flowBalancer">
                                                                <option *ngFor="let type of typeList"
                                                                        [value]=type.sfcTypeName>
                                                                    {{type.sfcTypeName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'channelRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            {{t('actions.internet.control_channel')}}
                                                        </label>
                                                        <div class="col-md-6">
                                                            <span>{{t('actions.control_channel.label')}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'trafficHoppingRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 ml15">{{t('actions.traffic_hopping.max_hop')}}</label>
                                                        <div class="col-md-2">
                                                            <input type="number" class="form-control"
                                                                   required
                                                                   [(ngModel)]="data.routingServices.hopCount"
                                                                   name="hopCount">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 ml15">{{t('fields.required_devices.label')}}</label>
                                                        <div class="col-md-8">
                                                            <select select2 class="form-control"
                                                                    id="hopIncludedDevice"
                                                                    [ngModel]="hopIncludedDevices"
                                                                    (ngModelChange)="hopIncludedDeviceChanged($event)"
                                                                    multiple="multiple" style="width: 100%"
                                                                    name="hopIncluded">
                                                                <option *ngFor="let device of switchList"
                                                                        [value]="device.id">{{device.id}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 ml15">{{t('fields.blocked_devices.label')}}</label>
                                                        <div class="col-md-8">
                                                            <select select2 id="hopExcludedDevice"
                                                                    class="form-control"
                                                                    [ngModel]="hopExcludedDevices"
                                                                    (ngModelChange)="hopExcludedDeviceChanged($event)"
                                                                    multiple="multiple" style="width: 100%"
                                                                    name="hopExcluded">
                                                                <option *ngFor="let device of switchList"
                                                                        [value]="device.id">{{device.id}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 ml15">{{t('actions.traffic_hopping.period')}}</label>
                                                        <div class="col-md-2">
                                                            <input type="number" class="form-control floatL"
                                                                   required restrict
                                                                   [restrict_type]="'number'"
                                                                   [(ngModel)]="data.routingServices.hopPeriod"
                                                                   name="hopPeriod">
                                                        </div>
                                                        <div class="col-md-2"><span
                                                                style="line-height: 33px;">{{t('actions.traffic_hopping.periodUnit')}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'dscpRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">{{t('actions.dscp_marking.title')}}</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" required
                                                                   [(ngModel)]="data.changeHeaders.dhcpMark"
                                                                   name="dhcpMark">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-body" *ngSwitchCase="'vlanRule'">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">{{t('actions.vlan.pushValue')}}</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control"
                                                                   required
                                                                   [(ngModel)]="data.changeHeaders.vlanId.pushValue"
                                                                   name="pushValue">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">{{t('actions.vlan.popValue')}}</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" required
                                                                   [(ngModel)]="data.changeHeaders.vlanId.popValue"
                                                                   name="popValue">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">{{t('actions.vlan.pushToPacket')}}</label>
                                                        <div class="col-md-5">
                                                            <input type="checkbox" name="pushToPacket"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
