<!-- BEGIN FORM-->
<form #myForm="ngForm" id="userEditForm" action="#" class="form-horizontal" autocomplete="off">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.userType.label')}}</label>
                <div class="col-md-8">
                    <select class="form-control" required [(ngModel)]="data.userType"
                            (ngModelChange)="userTypeChanged($event)" name="userType">
                        <option *ngFor="let type of NACENTITYTYPE | enumValues" [value]="type">
                            {{baseServices.uiHelper.getIconTitle('NACENTITYTYPE', type)}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.status.label')}}</label>
                <div class="col-md-8">
                    <select class="form-control" required [(ngModel)]="data.status" name="status">
                        <option *ngFor="let s of NACSTATUS | enumValues" [value]="s">
                            {{baseServices.uiHelper.getIconTitle('NACSTATUS', s)}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.username.label')}}</label>
                <div class="col-md-8">
                    <input type="text" maxlength="50" class="form-control" autocomplete="off"
                           placeholder="{{t('fields.username.placeholder')}}" required validation
                           [(ngModel)]="data.username" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div *ngIf="isNewItem" class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.password.label')}}</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" minlength="6" autocomplete="off"
                           maxlength="50" required validation placeholder="{{t('fields.password.placeholder')}}"
                           [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.name.label')}}</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="{{t('fields.name.placeholder')}}"
                           required validation maxlength="50" autocomplete="off"
                           [(ngModel)]="data.name" name="name">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.surname.label')}}</label>
                <div class="col-md-8">
                    <input id="nacSurName" type="text" maxlength="50" class="form-control"
                           placeholder="{{t('fields.surname.placeholder')}}"
                           [(ngModel)]="data.surname" name="surname">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.email.label')}}</label>
                <div class="col-md-8">
                    <input id="nacEmail" type="email" class="form-control"
                           placeholder="{{t('fields.email.placeholder')}}"
                           required validation maxlength="50"
                           [(ngModel)]="data.email" name="email">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.tcNo.label')}}</label>
                <div class="col-md-8">
                    <input id="nacTcno" restrict maxlength="11" [restrict_type]="'number'"
                           class="form-control" placeholder="{{t('fields.tcNo.placeholder')}}"
                           [(ngModel)]="data.tcno" name="tcno"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.securityLevel.label')}}</label>
                <div class="col-md-8">
                    <select id="nacSecurityLevel" class="form-control" required validation
                            [(ngModel)]="data.securityLevel" name="securityLevel">
                        <option *ngFor="let p of UI_SECURITY_LEVELS | enumValues" [value]="p">{{p}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.nacGroup.label')}}</label>
                <div class="col-md-8">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100%; padding: 0 !important;">
                                <select required class="form-control" validation [(ngModel)]="data.nacGroup"
                                        name="nacGroup">
                                    <option *ngFor="let g of (data.userType == NACENTITYTYPE.STAFF ? nacStaffGroups : nacGuestGroups)"
                                            [ngValue]="g">
                                        {{g.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <a (click)="newNacGroup()" class="btn blue-madison"
                                   title="{{t('actions.newNacGroup')}}" rel="tooltip">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>{{t('actions.newNacGroup')}}</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">{{t('fields.phoneNumber.label')}}</label>
                <div class="col-md-8">
                    <input id="phone" restrict [restrict_mask]="'mobilePhone'" required validation
                           class="form-control" placeholder="{{t('fields.phoneNumber.placeholder')}}"
                           [(ngModel)]="data.phoneNumber" name="phone"/>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.userType == NACENTITYTYPE.GUEST">
        <div>
            <span class="caption-subject font-red-sunglo bold uppercase">{{t('labels.accessDateSettings')}}</span>
            <hr style="margin-top: 2px;">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group date-picker input-daterange" data-date-format="mm/dd/yyyy">
                    <label class="col-md-4 control-label">{{t('fields.accessDateStart.label')}}</label>
                    <div class="col-md-8">
                        <input id="accessTimeStart" type="text" class="form-control accessTimeStart"
                               style="text-align: left;"
                               placeholder="{{t('fields.accessDateStart.placeholder')}}"
                               required validation [ngModel]="accessTimeStart" name="accessTimeStart">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group date-picker input-daterange" data-date-format="mm/dd/yyyy">
                    <label class="col-md-4 control-label">{{t('fields.accessDateEnd.label')}}</label>
                    <div class="col-md-8">
                        <input id="accessTimeEnd" type="text" class="form-control accessTimeEnd"
                               style="text-align: left;"
                               placeholder="{{t('fields.accessDateEnd.placeholder')}}"
                               required validation [ngModel]="accessTimeEnd" name="accessTimeEnd">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="data.userType == NACENTITYTYPE.STAFF">
        <div>
            <span class="caption-subject font-red-sunglo bold uppercase">{{t('labels.personalDevices')}}</span>
            <hr style="margin-top: 2px;">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <a *ngIf="!isNewItem" (click)="gotoUserDeviceEdit()" class="btn blue-madison"
                           title="{{t('actions.newByodGroup')}}" rel="tooltip">
                            <i class="fa fa-desktop"></i>
                            <span>{{t('actions.personalDevices')}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('fields.byodNacGroup.label')}}</label>
                    <div class="col-md-8">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 100%; padding: 0 !important;">
                                    <select class="form-control" required validation
                                            [(ngModel)]="data.byodNacGroup" name="byodNacGroup">
                                        <option *ngFor="let g of nacStaffGroups" [ngValue]="g">
                                            {{g.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <a (click)="newNacGroup()" class="btn blue-madison"
                                       title="{{t('actions.newByodGroup')}}" rel="tooltip">
                                        <i class="fa fa-plus-circle"></i>
                                        <span>{{t('actions.newByodGroup')}}</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- END FORM-->
