<form action="#" class="form-horizontal">
    <div>
        <div class="form-group first" >
            <label class="col-md-3 control-label">{{t('fields.id.label')}}</label>
            <div class="col-md-8">
                <span class="form-control-static">{{data.id}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.name.label')}}</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="{{t('fields.name.placeholder')}}" required
                       [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}">
                <span class="help-block">{{t('fields.name.help_line')}}</span>
            </div>
        </div>
        <div class="form-group" *ngIf="data.deviceInfo.type != DEVICETYPE.LEGACY_SWITCH">
            <label class="col-md-3 control-label">{{t('fields.securityLevel.label')}}</label>
            <div class="col-md-8">
                <select class="form-control" required [(ngModel)]="data.securityLevel" [ngModelOptions]="{standalone: true}">
                    <option value="0">{{t('fields.securityLevel.placeholder')}}</option>
                    <option *ngFor="let p of securityLevels" [value]="p.value">{{i18n.t('enums.SECURITYLEVELS.'+p.name)}}</option>
                </select>
                <span class="help-block">{{t('fields.securityLevel.help_line')}}</span>
            </div>
        </div>
    </div>
</form>
