<!--<div #graph></div>-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze">{{title}}</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm btn-circle btn-default" href="javascript:;" data-toggle="dropdown"
                   aria-expanded="false">
                    {{t('filter.devices')}}
                    <span class="badge">{{selectedDeviceCount}}</span>
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu pull-right" style="max-height: 300px; overflow-y: auto;">
                    <li *ngFor="let device of devices | mapvalue" (click)="deviceChanged(device)"
                        [class.active]="device.key == selectedDevice.key">
                        <a href="javascript:;">{{device.key}}</a>
                    </li>
                </ul>
            </div>
            <multiselect [items]="groups" [name]="t('filter.queue')" [selectedItems]="selectedGroups"
                         (itemSelected)="groupSelected($event)"></multiselect>
            <metricselect [metrics]="metrics" [name]="t('filter.metrics')"
                          [(selectedMetrics)]="selectedMetrics" (selectedMetricsChange)="metricSelected($event)">
            </metricselect>
            <div class="btn-group">
                <a class="btn btn-sm btn-circle btn-default" href="javascript:;" data-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fa fa-clock-o"></i>
                    {{selectedDuration.val}} {{t('duration.display.' + selectedDuration.unit)}}
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li *ngFor="let duration of durations;" (click)="durationChanged(duration)"
                        [class.active]="duration == selectedDuration">
                        <a href="javascript:;">{{duration.val }} {{t('duration.display.' + duration.unit)}}</a>
                    </li>
                </ul>
            </div>
            <a (click)="fullScreen()" class="fullscreen btn btn-circle btn-icon-only btn-default"
               data-original-title=""
               title=""> </a>
            <a (click)="refresh()" class="btn btn-circle  btn-icon-only btn-default"
               style="color:#a0a0a1"
               data-original-title="" title="">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
            <a (click)="live()" class="btn btn-circle  btn-icon-only btn-default"
               [style.color]="liveModeOn ? '#ff8a8a' : '#a0a0a1'"
               data-original-title="" title="">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="graphContainer" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>



