<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-body">
        <div class="form-group first" >
            <label class="col-md-3 control-label">{{t('fields.mac.label')}}</label>
            <div class="col-md-6">
                <input class="form-control" [disabled]="true"
                       placeholder="{{t('fields.mac.placeholder')}}" name="mac"
                       [ngModel]="data?.mac" (ngModelChange)="data?.mac ? data.mac = $event : null">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.IP.label')}}</label>
            <div class="col-md-6">
                <input *ngIf= "data.ip" [disabled]="'true'" class="form-control" required validation
                       ip
                       placeholder="{{t('fields.IP.placeholder')}}"
                       [(ngModel)]="deviceIp" [ngModelOptions]="{standalone: true}">
                <input *ngIf= "!data.ip" class="form-control" required validation
                       ip
                       placeholder="{{t('fields.IP.placeholder')}}"
                       [(ngModel)]="deviceIp" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.type.label')}}</label>
            <div class="col-md-6">
                <select class="form-control"  id="type"
                        [(ngModel)]="data.type" name="type">
                    <option *ngFor="let type of types" [value]="type">{{type}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.port_no.label')}}</label>
            <div class="col-md-6">
                <input restrict [restrict_type]="'number'" class="form-control" [required]="isNewItem ? 'true' : null" required validation
                       placeholder="{{t('fields.port_no.placeholder')}}" name="portNo"
                       [ngModel]="data?.port?.number" (ngModelChange)="data?.port?.number ? data.port.number = $event : null">
            </div>
        </div>

        <div class="form-group last">
            <label class="col-md-3 control-label">{{t('fields.vlan_id.label')}}</label>
            <div class="col-md-6">
                <input restrict [restrict_type]="'number'" class="form-control"
                       placeholder="{{t('fields.vlan_id.placeholder')}}"
                       [(ngModel)]="vlanid" [ngModelOptions]="{standalone: true}">
                <!--<span class="help-block">{{t('fields.collision.help_line')}}</span>-->
            </div>
        </div>
        <div class="form-group last">
            <label class="col-md-3 control-label">{{t('fields.switch_list.label')}}</label>
            <div class="col-md-6">
                <select class="form-control" id="switch-list" [disabled]="'true'" [(ngModel)]="selectedSwitchId" name="switch">
                    <option *ngFor="let switchId of switchesIds" [value]="switchId">{{switchId}}</option>
                </select>
                <!--<span class="help-block">{{t('fields.collision.help_line')}}</span>-->
            </div>
        </div>
    </div>

</form>
<!-- END FORM-->
