<!--<div class="topotooltip">-->

<!--</div>-->
<div class="topotooltip" style="opacity: 0">
<!--    <div *ngIf="divData?.type === 'switch'">
        <span class="tool-head" data-i18n="network_vis.switch.title"></span>
        <span class="tool-info-head"> ID: </span> {{divData.data?.id}}
        <span class="tool-info-head" data-i18n="common.status" *ngIf="divData.data?.status"></span><span *ngIf="divData.data?.status">:</span>
        {{divData.data?.status}}
    </div>
    <div *ngIf="divData?.type === 'host'">
        <span class="tool-head" data-i18n="network_vis.host"></span>
        <span class="tool-info-head">ID:</span> {{divData.data?.id}}
        <span class="tool-info-head" *ngIf="divData.data?.name">Name:</span> {{divData.data?.name}}
        <span class="tool-info-head" data-i18n="common.status" *ngIf="divData.data?.status"></span>:
        {{divData.data?.status}}
        <span class="tool-info-head" data-i18n="network_vis.topology.address" *ngIf="divData.data?.address"></span>:
        {{divData.data?.address}}
    </div>
    <div *ngIf="divData?.type === 'link'">
        <span class="tool-head" data-i18n="network_vis.link"></span>
        <span class="tool-info-head" *ngIf="divData.data?.linkId !==''">ID:</span> {{divData.data?.linkId}}
        <span class="tool-info-head" data-i18n="common.status" *ngIf="divData.data?.status"></span><span *ngIf="divData.data?.status">:</span>
        {{divData.data?.status}}
        <span class="tool-info-head" data-i18n="network_vis.topology.address" *ngIf="divData.data?.srcPort?.number"></span>
        {{divData.data?.srcPort?.number}}
        <span class="tool-info-head" data-i18n="network_vis.topology.address" *ngIf="divData.data?.destPort?.number"></span>
        {{divData.data?.destPort?.number}}
    </div>-->
</div>
