<div class="info-tooltip-widget"
     [style.right]="(topologyData && (topologyData.type == TOPOLOGYTYPE.PHYSICAL || topologyData.type == TOPOLOGYTYPE.SUPER || topologyData.isMappedVersionShown)) || !nodeEditorShowHideFlag() ? '3%' : '23%'"
>
    <div style="min-height: 300px;padding-bottom: 0" class="dashboard-stat2 bordered" *ngIf="info">
        <div class="info-header bg-grey-cararra" [style.paddingBottom]="info.utilization?'20px':'0'" >
            <div [style.marginBottom]="info.utilization?'15px':'0'" class="display">
                <div class="number" style="width:90%">
                    <h3 class="font-red-haze" style="font-size: 28px;">
                        <span style="display:inline-block;text-overflow:ellipsis;width:100%;overflow:hidden;" [innerHtml]="info?.title"></span>
                    </h3>
                    <small style="display:inline-block;text-overflow:ellipsis;width:100%;overflow:hidden;"  [innerHtml]="info?.subTitle"></small>
                </div>
                <div *ngIf="info.icons" class="icon">
                    <i *ngIf="info.icons.typeIcon" class="{{info.icons.typeIcon.icon}} info-icon-type" rel="tooltip" [title]="info.icons.typeIcon?.title"></i>
                    <i *ngIf="info.icons.statusIcon" class="{{info.icons.statusIcon.icon}} font-{{info.icons.statusIcon.color}} info-icon-status" rel="tooltip" [title]="info.icons.statusIcon?.title"></i>
                    <i *ngIf="info.icons.securityIcon" class="{{info.icons.securityIcon.icon}} font-blue-sharp info-icon-security" rel="tooltip" [title]="info.icons.securityIcon?.title"></i>
                    <i *ngIf="info.icons.mvtnIcon" class="{{info.icons.mvtnIcon.icon}} font-yellow-gold info-icon-mvtn" rel="tooltip" [title]="info.icons.mvtnIcon?.title"></i>
                </div>
            </div>
            <div class="progress-info" *ngIf="info.utilization">
                <div class="progress">
                    <span [style.width]="info.utilization+'%'" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">{{ t("labels.utilization_value", { utilization : info.utilization }) }}</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title">{{t("labels.utilization")}}</div>
                    <div class="status-number"> {{t("labels.utilization_value", {utilization : info.utilization})}}</div>
                </div>
            </div>
        </div>
        <div class="data-container">
            <div class="portlet data-summary" *ngIf="info.entityInfo" >
                <div class="portlet-title" (click)="toggleDetais()" [style.cursor]="info.hasOptionalEntities?'pointer':'default'" >
                    <div class="caption font-red sbold">{{t("labels.details")}}</div>
                    <div class="tools" [hidden]="!info.hasOptionalEntities" >
                        <a [hidden]="isShowMore" href="javascript:;" rel="tooltip" title="{{t('labels.detail_more')}}" ><i class="fa fa-caret-down"></i></a>
                        <a [hidden]="!isShowMore" href="javascript:;" rel="tooltip" title="{{t('labels.detail_less')}}" ><i class="fa fa-caret-up"></i></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="list-unstyled" style="margin-bottom: -15px;">
                        <li *ngFor="let entityInfo of info?.entityInfo" [hidden]="!isShowMore && entityInfo.isOptional" >
                            <span *ngIf="!entityInfo.callback" class="data-info">{{entityInfo.name}}</span>
                            <a *ngIf="entityInfo.callback" class="data-info" href="javascript:" (click)="entityClicked(entityInfo)" >{{entityInfo.name}} <i class="fa fa-external-link-square" rel="tooltip" title="{{t('labels.click_for_more')}}" ></i></a>
                            <span *ngIf="!entityInfo.callback" class="data-num" [innerHtml]="entityInfo.value" ></span>
                            <a *ngIf="entityInfo.callback" class="data-num" [innerHtml]="entityInfo.value" href="javascript:" (click)="entityClicked(entityInfo)" rel="tooltip" title="{{t('labels.click_for_more')}}" ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="portlet" *ngIf="info && info.modeIcons && info.modeIcons.length>0" [hidden]="!isShowMore" style="margin-bottom:5px">
                <div class="portlet-body data-portlet-body" style="text-align: center">
                    <span *ngFor="let iconInfo of info?.modeIcons" style="margin: 5px 0" rel="tooltip" [title]="iconInfo?.title" >
                        <a href="javascript:;" class="btn btn-icon-only {{iconInfo?.color}}">
                            <i *ngIf="!iconInfo.textIcon" class="{{iconInfo?.icon}}"></i>
                            <span *ngIf="iconInfo.textIcon" class="text-icon">{{iconInfo.textIcon}}</span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="portlet" *ngIf="info.singleStatsInfo || info.dualStatsInfo">
                <div class="portlet-title">
                    <div class="caption font-red sbold">{{t("labels.stats")}}</div>
                    <div class="tools">
                        <a [hidden]="!isRealtime" href="javascript:;" rel="tooltip" title="{{t('labels.stat_real_time')}}" (click)="isRealtime=!isRealtime" ><i class="fa fa-clock-o"></i></a>
                        <a [hidden]="isRealtime" href="javascript:;" rel="tooltip" title="{{t('labels.stat_average')}}" (click)="isRealtime=!isRealtime" ><i class="fa fa-line-chart"></i></a>
                    </div>
                </div>
                <div class="portlet-body data-portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light" *ngIf="info.singleStatsInfo">
                            <thead>
                            <tr class="lowercase">
                                <th colspan="2" class="uppercase" style="width: 20%">
                                    <!--<div class="btn-group btn-group-xs">-->
                                        <!--<a class="btn btn-default" href="javascript:;" data-toggle="dropdown"-->
                                           <!--aria-expanded="false">-->
                                            <!--<i class="fa fa-play-circle"></i> {{t("labels.real_time")}}-->
                                            <!--<i class="fa fa-angle-down"></i>-->
                                        <!--</a>-->
                                        <!--<ul class="dropdown-menu">-->
                                            <!--<li>-->
                                                <!--<a href="javascript:;">-->
                                                    <!--<i class="fa fa-play-circle"></i> {{t("labels.real_time")}} </a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a href="javascript:;">-->
                                                    <!--<i class="fa fa-toggle-right"></i> {{t("labels.average_5min")}} </a>-->
                                            <!--</li>-->

                                        <!--</ul>-->
                                    <!--</div>-->
                                </th>
                                <th class="data-vert-split" style="width: 40%">{{t("labels.sent")}}</th>
                                <th style="width: 40%">{{t("labels.recv")}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let statsInfo of info?.singleStatsInfo">
                                <td class="fit"><i [class]="statsInfo.icon.icon" rel="tooltip" [title]="statsInfo.icon.title"></i></td>
                                <!--<td><a href="javascript:;" class="primary-link">{{statsInfo.icon.title}}</a></td>-->
                                <td><span class="stats-title">{{statsInfo.icon.title}}</span></td>
                                <td [colSpan]="statsInfo && statsInfo.source && statsInfo.source.recv?1:2" [class]="statsInfo && statsInfo.source && statsInfo.source.recv?'data-vert-split':''">{{statsInfo?.source?.sent}}</td>
                                <td *ngIf="statsInfo && statsInfo.source && statsInfo.source.recv" >{{statsInfo.source.recv}}</td>
                            </tbody>
                        </table>
                        <table class="table table-hover table-light" *ngIf="info.dualStatsInfo">
                            <thead>
                            <tr class="uppercase">
                                <th colspan="2" rowspan="2" style="width: 20%">
                                    <!--<div class="btn-group btn-group-xs">-->
                                        <!--<a class="btn btn-default" href="javascript:;" data-toggle="dropdown"-->
                                           <!--aria-expanded="false">-->
                                            <!--<i class="fa fa-play-circle"></i> {{t("labels.real_time")}}-->
                                            <!--<i class="fa fa-angle-down"></i>-->
                                        <!--</a>-->
                                        <!--<ul class="dropdown-menu">-->
                                            <!--<li>-->
                                                <!--<a href="javascript:;">-->
                                                    <!--<i class="fa fa-play-circle"></i> {{t("labels.real_time")}} </a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a href="javascript:;">-->
                                                    <!--<i class="fa fa-toggle-right"></i> {{t("labels.average_5min")}} </a>-->
                                            <!--</li>-->

                                        <!--</ul>-->
                                    <!--</div>-->
                                </th>
                                <th colspan="2" class="data-vert-split" style="width: 40%">{{t("labels.source")}}</th>
                                <th colspan="2" style="width: 40%">{{t("labels.target")}}</th>
                            </tr>
                            <tr class="lowercase">
                                <th style="width: 20%">{{t("labels.sent")}}</th>
                                <th class="data-vert-split" style="width: 20%">{{t("labels.recv")}}</th>
                                <th style="width: 20%">{{t("labels.sent")}}</th>
                                <th style="width: 20%">{{t("labels.recv")}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let statsInfo of info?.dualStatsInfo">
                                <td class="fit"><i [class]="statsInfo.icon.icon" rel="tooltip" [title]="statsInfo.icon.title"></i></td>
                                <!--<td><a href="javascript:;" class="primary-link">{{statsInfo.icon.title}}</a></td>-->
                                <td><span class="stats-title">{{statsInfo?.icon?.title}}</span></td>
                                <td [colSpan]="statsInfo && statsInfo.source && statsInfo.source.recv?1:2" [class]="statsInfo && statsInfo.source && statsInfo.source.recv?'':'data-vert-split'"> {{statsInfo?.source?.sent}}</td>
                                <td *ngIf="statsInfo && statsInfo.source && statsInfo.source.recv" class="data-vert-split" >{{statsInfo.source.recv}}</td>
                                <td [colSpan]="statsInfo && statsInfo.target && statsInfo.target.recv?1:2" >{{statsInfo.target.sent}}</td>
                                <td *ngIf="statsInfo && statsInfo.target && statsInfo.target.recv" >{{statsInfo.target.recv}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
