<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="{{icon}} font-dark"></i>
                    <select [(ngModel)]="serverType" [ngModelOptions]="{standalone: true}" (change)="onServerTypeChanged($event.target.value)">
                        <!-- option value="" >{{t('fields.log-levels.placeholder')}}</option -->
                        <option *ngFor="let serverType of serverTypes" [value]="serverType.value">{{serverType.name}}</option>
                    </select>
                    &nbsp;
                    <span class="caption-subject bold uppercase">{{title}}</span>
                </div>
                <div class="actions">
                    <ng-template ngFor let-action [ngForOf]="actions" let-i="index">
                        <a id="tableAction{{action.title}}" (click)="executeAction(action)"
                           class="btn btn-circle btn-sm {{action.color}}"
                           title="{{action.title}}" rel="tooltip">
                            <!-- [attr.data-permitted]="action.perm" data-noperm="" *ngIf="p(action.perm)"  -->
                            <i class="{{action.icon}}"></i>
                            <span>{{action.title_short}}</span>
                        </a>
                    </ng-template>
                    <a (click)="reload()" class="btn btn-circle btn-icon-only btn-default"
                       data-i18n="[title]common.buttons.refresh.title" rel="tooltip" data-permitted="common:refresh"
                       data-noperm="">
                        <i data-i18n="[class]common.buttons.refresh.icon"></i>
                    </a>
                    <div class="btn-group" data-permitted="children(any)" data-noperm="">
                        <a id="toolsButton" class="btn btn-circle btn-default btn-sm" href="javascript:;"
                           data-toggle="dropdown"
                           aria-expanded="false"
                           data-i18n="[title]common.buttons.tools.title" rel="tooltip">
                            <i data-i18n="[class]common.buttons.tools.icon"></i>
                            <!-- span data-i18n="common.buttons.tools.title"></span -->
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="datatable-buttons dropdown-menu pull-right">
                            <li data-permitted="common:print" data-noperm="">
                                <a (click)="exportTable('print',datatable.id)">
                                    <i data-i18n="[class]common.buttons.print.icon"></i>
                                    <span data-i18n="common.buttons.print.title"></span>
                                </a>
                            </li>
                            <li data-permitted="common:copy" data-noperm="">
                                <a (click)="exportTable('copy',datatable.id)">
                                    <i data-i18n="[class]common.buttons.copy.icon"></i>
                                    <span data-i18n="common.buttons.copy.title"></span>
                                </a>
                            </li>
                            <li data-permitted="common:export_pdf" data-noperm="">
                                <a (click)="exportTable('export_pdf',datatable.id)">
                                    <i data-i18n="[class]common.buttons.export_pdf.icon"></i>
                                    <span data-i18n="common.buttons.export_pdf.title"></span>
                                </a>
                            </li>
                            <li data-permitted="common:export_excel" data-noperm="">
                                <a (click)="exportTable('export_excel',datatable.id)">
                                    <i data-i18n="[class]common.buttons.export_excel.icon"></i>
                                    <span data-i18n="common.buttons.export_excel.title"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover order-column data-table"
                       #datatable></table><!-- table-checkable -->
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

