<div class="row">
    <div class="col-md-8">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="{{icon}} font-dark"></i>
                    <span class="caption-subject bold uppercase">{{title}}</span>
                </div>
                <div class="actions">

                    <ng-template ngFor let-action [ngForOf]="actions" let-i="index">
                        <a (click)="executeAction(action)" class="btn btn-circle btn-sm {{action.color}}"
                           title="{{action.title}}" rel="tooltip">
                            <!-- [attr.data-permitted]="action.perm" data-noperm="" *ngIf="p(action.perm)"  -->
                            <i class="{{action.icon}}"></i>
                            <span>{{action.title_short}}</span>
                        </a>
                    </ng-template>

                    <a (click)="reload()" class="btn btn-circle btn-icon-only btn-default"
                       data-i18n="[title]common.buttons.refresh.title" rel="tooltip" data-permitted="common:refresh"
                       data-noperm="">
                        <i data-i18n="[class]common.buttons.refresh.icon"></i>
                    </a>
                    <div class="btn-group" data-permitted="children(any)" data-noperm="">
                        <a class="btn btn-circle btn-default btn-sm" href="javascript:;" data-toggle="dropdown"
                           aria-expanded="false"
                           data-i18n="[title]common.buttons.tools.title" rel="tooltip">
                            <i data-i18n="[class]common.buttons.tools.icon"></i>
                            <!-- span data-i18n="common.buttons.tools.title"></span -->
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="datatable-buttons dropdown-menu pull-right">
                            <li data-permitted="common:print" data-noperm="">
                                <a (click)="exportTable('print',datatable.id)">
                                    <i data-i18n="[class]common.buttons.print.icon"></i>
                                    <span data-i18n="common.buttons.print.title"></span>
                                </a>
                            </li>
                            <li data-permitted="common:export_pdf" data-noperm="">
                                <a (click)="exportTable('export_pdf',datatable.id)">
                                    <i data-i18n="[class]common.buttons.export_pdf.icon"></i>
                                    <span data-i18n="common.buttons.export_pdf.title"></span>
                                </a>
                            </li>
                            <li data-permitted="common:export_excel" data-noperm="">
                                <a (click)="exportTable('export_excel',datatable.id)">
                                    <i data-i18n="[class]common.buttons.export_excel.icon"></i>
                                    <span data-i18n="common.buttons.export_excel.title"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <!-- div class="table-actions-wrapper">
                        <span> </span>
                        <select class="table-group-action-input form-control input-inline input-small input-sm">
                            <option value="">Select...</option>
                            <option value="Cancel">Cancel</option>
                            <option value="Cancel">Hold</option>
                            <option value="Cancel">On Hold</option>
                            <option value="Close">Close</option>
                        </select>
                        <button class="btn btn-sm green table-group-action-submit">
                            <i class="fa fa-check"></i> Submit
                        </button>
                    </div-->
                    <table class="table table-striped table-bordered table-hover table-checkable order-column data-table table-row-selectable"
                           #datatable></table><!-- table-checkable -->
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-4">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light bg-inverse">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-share font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">{{getDetailTitle()}}</span>
                    <!--span class="caption-helper"></span-->
                </div>
                <!--div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-circle btn-transparent grey-salsa btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Today</label>
                        <label class="btn btn-circle btn-transparent grey-salsa btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Week</label>
                        <label class="btn btn-circle btn-transparent grey-salsa btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Month</label>
                    </div>
                </div-->
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height:450px">
                    <div *ngIf="details">
                        <div *ngFor="let d of details" class="row static-info">
                            <div class="col-md-4 name">{{d.title}}</div>
                            <div class="col-md-8 value" [innerHtml]="d.value"></div>
                        </div>
                        <!--div *ngIf="description" class="panel" style="margin-bottom:-19px;">
                            <div class="panel-heading">{{t('fields.description')}}</div>
                            <div class="panel-body">{{description}}</div>
                        </div -->
                        <div *ngIf="description" class="note {{noteType}}">
                            <!--h4 class="block">{{t('fields.description')}}</h4-->
                            <p>{{description}}</p>
                        </div>
                    </div>
                    <div *ngIf="!details" style="height: 100%;" ><h4 style="text-align:center;margin:30%10px;">{{t('messages.select_item')}}</h4></div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>