<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.name.label')}}</label>
        <div class="col-md-9">
            <input id="serverName" class="form-control"
                   maxlength="30"
                   required validation [(ngModel)]="data.name" name="serverName"/>
            <span class="help-block">{{t('fields.name.help_line')}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.userName.label')}}</label>
        <div class="col-md-9">
            <input class="form-control"
                   maxlength="30"
                   required validation [(ngModel)]="data.userName" name="userName"/>
            <span class="help-block">{{t('fields.userName.help_line')}}</span>
        </div>
    </div>
    <div *ngIf="isNewItem" class="form-group">
        <label class="col-md-3 control-label">{{t('fields.password.label')}}</label>
        <div class="col-md-9">
            <input class="form-control" type="password"
                   maxlength="25"
                   required validation [(ngModel)]="data.password" name="pass"/>
            <span class="help-block">{{t('fields.password.help_line')}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.address.label')}}</label>
        <div class="col-md-4">
            <input id="serverIpAddress" class="form-control" ip
                   required validation [(ngModel)]="data.address.ipv4" name="serverIP"/>
            <span class="help-block">{{t('fields.address.help_line')}}</span>
        </div>
        <label class="col-md-2 control-label">{{t('fields.port.label')}}</label>
        <div class="col-md-3">
            <input id="serverPort" class="form-control" restrict [restrict_type]="'number'" maxlength="5"
                   required validation [(ngModel)]="data.port" name="serverPort"/>
            <span class="help-block">{{t('fields.port.help_line')}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.protocol.label')}}</label>
        <div class="col-md-4">
            <select (ngModelChange)="setPortValue($event)" id="protocol" class="form-control" required validation
                    [(ngModel)]="data.protocol" #protocol name="protocol">
                <option *ngFor="let p of protocols" [value]="p">
                    {{baseServices.uiHelper.getIconTitle('AAAPROTOCOL', p)}}
                </option>
            </select>
            <span class="help-block">{{t('fields.protocol.help_line')}}</span>
        </div>
    </div>
    <div [hidden]="protocol.value.toString() !== ldap">
        <span class="caption-subject font-red-sunglo bold uppercase">{{t('labels.ldapSettings')}}</span>
        <hr style="margin-top: 2px;">
    </div>
    <div [hidden]="protocol.value.toString() !== radius">
        <span class="caption-subject font-red-sunglo bold uppercase">{{t('labels.radiusSettings')}}</span>
        <hr style="margin-top: 2px;">
    </div>
    <div class="form-group" [hidden]="protocol.value.toString() !== ldap">
        <label class="col-md-3 control-label">{{t('fields.ldapUseSSL.label')}}</label>
        <div class="col-md-4">
            <input (click)="setPortValue($event)" type="checkbox" [(ngModel)]="data.ldapUseSSL" name="ldapSSL"/>
            <span class="help-block">{{t('fields.ldapUseSSL.help_line')}}</span>
        </div>
    </div>
    <div class="form-group" [hidden]="protocol.value.toString() !== ldap">
        <label class="col-md-3 control-label">{{t('fields.deadTime.label')}}</label>
        <div class="col-md-4">
            <input class="form-control" restrict maxlength="10" [restrict_type]="'number'"
                   [required]="protocol.value.toString() === ldap ? true : null" validation
                   [(ngModel)]="data.deadTime" name="deadTime"/>
            <span class="help-block">{{t('fields.deadTime.help_line')}}</span>
        </div>
    </div>
    <div class="form-group" [hidden]="protocol.value.toString() !== ldap">
        <label class="col-md-3 control-label">{{t('fields.retransmission.label')}}</label>
        <div class="col-md-4">
            <input class="form-control" restrict maxlength="10" [restrict_type]="'number'"
                   [required]="protocol.value.toString() === ldap ? true : null" validation
                   [(ngModel)]="data.retransmission" name="retransmisson"/>
            <span class="help-block">{{t('fields.retransmission.help_line')}}</span>
        </div>
    </div>
    <div class="form-group" [hidden]="protocol.value.toString() !== radius">
        <label class="col-md-3 control-label">{{t('fields.secretKey.label')}}</label>
        <div class="col-md-9">
            <input id="secretKey" class="form-control" [required]="protocol.value.toString() === radius ? true : null"
                   type="password" maxlength="100"
                   validation [(ngModel)]="data.secretKey" name="secretKey"/>
            <span class="help-block">{{t('fields.secretKey.help_line')}}</span>
        </div>
    </div>
    <div class="form-group" [hidden]="protocol.value.toString() !== radius">
        <label class="col-md-3 control-label">{{t('fields.usingDB.label')}}</label>
        <div class="col-md-4">
            <select id="usingDB" class="form-control"
                    [(ngModel)]="dbUse" name="usingDB">
                <option>{{t('fields.usingDB.true')}}</option>
                <option>{{t('fields.usingDB.false')}}</option>
            </select>
        </div>
    </div>
</form>
<!-- END FORM-->
