<header class="page-header"><!-- data-permitted="common:loggedin" data-noperm="hide" -->
    <commons-top-menu-component></commons-top-menu-component>
</header>


<div class="container-fluid">
    <div class="page-content"
         style="padding-left: 10px !important;padding-right: 10px !important;padding-bottom: 10px !important;">
        <router-outlet></router-outlet>
    </div>
    <p class="copyright" style="margin-top:-5px;">Powered by <a style="color:#bbb !important" target="argela_site"
                                                                href="http://www.argela.com.tr"><img
            src="/assets/img/arg_reversed.png" style="height: 16px;"></a> &ndash;
        Copyright © (2015-{{currentYear}}) {{version}}</p>
</div>
