<style>
    .selectListItem {
        min-height: 35px;
        margin-bottom: 5px;
        width: 100%;
    }

</style>
<!-- BEGIN FORM-->
<form action="#">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <label class="col-md-4 control-label">{{t('fields.policy_name.label')}}</label>
                <div class="col-md-8">
                    <input id="profileName" type="text" class="form-control" maxlength="50"
                           placeholder="{{t('fields.policy_name.placeholder')}}" required validation
                           [(ngModel)]="data.profileName" name="profileName">
                    <span class="help-block">{{t('fields.policy_name.help_line')}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('fields.priority.label')}}</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" [(ngModel)]="data.profilePriority"
                               name="profilePriority" required validation min="0" maxlength="5">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('fields.allowed_nac_groups.label')}}</label>
                    <div class="col-md-8">
                        {{t('fields.allowed_nac_groups.all')}}
                        <input type="checkbox" [(ngModel)]="allowAllNacs" name="allowAllNacs">
                        <div [hidden]="allowAllNacs">
                            <select class="form-control multiselector" multiple="multiple" style="width: 100%">
                                <option *ngFor="let nacGroup of nacGroups" [value]="nacGroup.id">
                                    {{nacGroup.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 control-label">{{t('fields.virtualNetwork.label')}}</label>
                <div class="col-md-8">
                    <select class="form-control" [attr.required]="p('phy_topo:manage') ? null : true"
                            validation [(ngModel)]="data.mvtnId" name="virtualNetwork">
                        <option value="0">{{t('labels.no_mvtn')}}</option>
                        <option *ngFor="let item of virtualNetworks" [value]="item.id">{{item?.name}}</option>
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="form-group">

        </div>
    </div>
    <div class="portlet light form-fit bordered">
        <div class="portlet-title">
            <div class="caption-subject font-red-sunglo bold uppercase">
                {{t('fields.actions.title')}}
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="btn-group">
                        <a id="addRule" class="btn" href="javascript:;" (click)="addRule()">
                            <i class="fa fa-plus-circle"></i> <span
                                style="font-weight: bold;"> {{t('fields.actions.add')}}</span>
                        </a>
                    </div>
                    <div id="selectBox" class="list-group" style="cursor: move; padding-left: 20px;">
                        <div class="btn btn-default selectListItem" role="button"
                             *ngFor="let rule of rules;" [class.active]="rule == selectedRule"
                             (click)="selectRule(rule);" [attr.data-temporaryId]="rule.temporaryId"
                             (drop)="resetPriorities()">
                            <i *ngIf="rule.conflictedRuleIds && rule.conflictedRuleIds.length > 0"
                               class="fa fa-exclamation-triangle font-yellow-gold" aria-hidden="true"
                               style="float:left;"></i>
                            <span>{{rule.policyName || rule.id }}</span>
                            <i (click)="deleteRule(rule,$event)" class="fa fa-trash-o" aria-hidden="true"
                               style="float: right; cursor:pointer;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <acccessrule [rule]="selectedRule" [serviceActions]="serviceActions" [nacUsers]="nacUsers"
                                 [userApps]="userApps" [switchList]="switchList" [ipLocs]="ipLocs">
                    </acccessrule>
                </div>
            </div>
        </div>
    </div>
</form>