# Verification

To verify domain ownership using DNS verification, you will need to create DNS records of TXT type as shown below.

Please remember that it takes some time for new DNS records to become "visible", so you may need to wait for 15-20 minutes before clicking "Next". 

You can check whether your records became visible with the following command: "nslookup -q=TXT XXX", where XXX is one of the records as shown below.

| Domain TXT Record	                | Value                                       |
|-----------------------------------|---------------------------------------------|
| _acme-challenge.milat.info        | xaa3nGnCqunDC9FN7A_dastytJkPFvq9kKI7osBowpM |
| _acme-challenge.ayb.milat.info    | 9KJOSje3ZjNESHuPsJ4N5--5dJFacNtQiKw2FKWg55o |
| _acme-challenge.nac.milat.info    | 5JY6tQ7mZrSSxYr0PuKWvv_j-t-SYxF5y5k3QJhyF_8 |
| _acme-challenge.ctrl.milat.info   | KIO-mkIYI6H5xzfoZkAAT7Kvkm_PuU8xy3_PeRSRHTM |
| _acme-challenge.c1.milat.info     | hIwDQ9qRlT0lubiyjDGyh4xG5JeeC_3DTAC8OvA9PVc |
| _acme-challenge.c2.milat.info     | R2kEzkX4_hkpqHTuRGj2R1HbZKjdLlh2wdd5FKCwvTg |
| _acme-challenge.c3.milat.info     | vO5sBL2tG5jKpYWUDaOjMIPazhvtFIyTSxamUUvRy9A |
| _acme-challenge.c4.milat.info     | jnmc3ktCxzrTsQKPVXc0dE4RVj5ok_eooIyvpve2FZc |
| _acme-challenge.c5.milat.info     | KxhCjyX8Tm2H2gSXUYePKgJEpAW6nnYJceQqpgLijDU |
| _acme-challenge.c6.milat.info     | ipuPgCwiCQQegpRhEwWw5-M8O1H0VjZ1P9KjtS9j0RY |
| _acme-challenge.c7.milat.info     | _QQ8DO28T0DsKpRK47tkujYcAIgeW0VuGFN3EtPEqb4 |
| _acme-challenge.c8.milat.info     | ZLRWA2X9uJ2m2drYF-M0PWBDQOl2EGnut9aTpHq01cA |
| _acme-challenge.c9.milat.info     | z0lUTqK9IU4TNAIZVrcv8C9upkzP9s_JLFyw8LlsLzc |
| _acme-challenge.c10.milat.info    | izfyKdwM1g6EJSP9iczjj3meVmyR2COHtVg1_W0ESWI |
| _acme-challenge.milat.online      | d7CaWDRV3_cLnSKeMTF2Gyw1CHd-DOfhftIm-Zn8B4U |
| _acme-challenge.nac.milat.online  | iO9sHzfyLW390nsmu1w5aT69mlL0ofu3aPu_mZWg8MQ |
| _acme-challenge.ayb.milat.online  | t2KQO6mQ-j2iX7lOaGwDFd6sjwX2_5EQ-uiLsifZP1s |
| _acme-challenge.ctrl.milat.online | NaRTm-1agz5UA3RTwuC_i0wHMSWANh7RhPoa8y4avUw |
| _acme-challenge.c1.milat.online   | A_EEdSnrJkaqe_1lp4caA6w0FX6l56yJfkwx_ntouKs |
| _acme-challenge.c2.milat.online   | rXZlHufOmP_zR9DnEFaPaiBUfj7hP7vTxRzNrG0KGfM |
| _acme-challenge.c3.milat.online   | uBO5w-iVzAeJcHp49hEmAgfTaQyp2RLsEe15gl381Xo |
| _acme-challenge.c4.milat.online   | syxucfG7aZ7c7jBeyCXqO2eJHQxCCQ6HuARDlpzEZzg |
| _acme-challenge.c5.milat.online   | yWvrJqPocsGJ029Mok7sPzpS_mILHP4NdkqBZPpjwM4 |
| _acme-challenge.c6.milat.online   | P4woDyfqw-g2CzREAT2NX3aXPF0Kl8wf0j_PglFlcrw |
| _acme-challenge.c7.milat.online   | nSgjm3Z88KVJqSmSmMflj8lQkmkhJgbcRdpnSfVipFM |
| _acme-challenge.c8.milat.online   | iYbwWMHZ2VnAiqvf6ncRPt7QE_AcIsZo4VtZ3JXPBnQ |
| _acme-challenge.c9.milat.online   | KV6rc4qOG8rmsYgxcx6Ro62kUrfRjNh1A6AIgb_MMEQ |
| _acme-challenge.c10.milat.online  | AWt7J9vbTA20EF_pTvCC-F6xKKZOmrgT7E5slUJbcUY |



