<form action="#" class="form-horizontal">
    <div class="form-body">
        <div class="form-group first">
            <label class="col-md-3 control-label">{{t('fields.wan_link_name.label')}}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="{{t('fields.wan_link_name.placeholder')}}"
                       required validation [(ngModel)]="data.name"
                       name="one">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.switch.label')}}</label>
            <div class="col-md-9">
                <select [ngModel]="selectedSwitch" name="switch" class="form-control"
                        required validation
                        (ngModelChange)="switchChanged($event)">
                    <option *ngFor="let switch of switchList" [ngValue]="switch">
                        {{switch?.id}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.port.label')}}</label>
            <div class="col-md-9">
                <select [(ngModel)]="selectedPort" name="port" class="form-control" required validation>
                    <option *ngFor="let port of portList" [ngValue]="port">
                        {{port?.number}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.dst_cluster.label')}}</label>
            <div class="col-md-9">
                <select [(ngModel)]="selectedCluster" name="cluster" class="form-control" required validation>
                    <option *ngFor="let cluster of clusterList" [ngValue]="cluster">
                        {{cluster?.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.super_port.label')}}</label>
            <div class="col-md-9">
                <input *ngIf="isNewItem" [disabled]="!isNewItem" [(ngModel)]="data.superPortNumber"  name="superPort" class="form-control" restrict required validation
                       [restrict_type]="'number'" [restrict_minvalue]="0" />
                <span *ngIf="!isNewItem" class="form-control-static" >{{data.superPortNumber}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.link_speed.label')}}</label>
            <div class="col-md-5">
                <input type="text" #bw [(ngModel)]="linkSpeed" name="speed" class="form-control" required validation (change)="changeBandWith()" />
            </div>
            <div class="col-md-4">
                <select #bwUnit [(ngModel)]="data.speedUnit" name="BwUnit" class="form-control" required validation (change)="changeBandWith()" >
                    <option *ngFor="let unit of connectionSpeedUnits" [ngValue]="unit">
                        {{i18n.t("enums.BWUNIT." + unit)}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.link_type.label')}}</label>
            <div class="col-md-9">
                <select [(ngModel)]="data.linkType" name="link_type" class="form-control" required validation>
                    <option *ngFor="let type of wanPortTypes" [ngValue]="type">
                        {{i18n.t("enums.WANPORTTYPE." + type)}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.description.label')}}</label>
            <div class="col-md-9">
                <textarea name="textarea" rows="8" cols="40" [(ngModel)]="data.explanation" class="form-control"></textarea>
            </div>
        </div>
    </div>
</form>