<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalLabel">
    <div class="modal-dialog {{modalSize}}" role="document">
        <div class="modal-content">
            <div class="portlet light bordered" style="margin-bottom:0;">
                <div class="portlet-title">
                    <div class="caption">
                        <i [class]="icon"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase" >{{title}}</span>
                        <span *ngIf="subTitle" class="caption-helper" >{{subTitle}}</span>
                    </div>
                    <div class="actions popup-actions">
                        <ng-template ngFor let-action [ngForOf]="popupActions" let-i="index">
                            <a *ngIf="!action.subActions" (click)="executeAction(action)" [class]="resolvePopupBtnClass(action)" [title]="action.title" rel="tooltip">
                                <i [class]="action.icon"></i>
                                <span class="action-title" *ngIf="action.title_short" >{{action.title_short}}</span>
                            </a>
                            <div *ngIf="action.subActions" class="btn-group" >
                                <a [class]="resolvePopupBtnClass(action)" href="javascript:;" data-toggle="dropdown" aria-expanded="false"
                                   [title]="action.title" rel="tooltip" >
                                    <i [class]="action.icon"></i>
                                    <span class="action-title" *ngIf="action.title_short" >{{action.title_short}}</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <ng-template ngFor let-subAction [ngForOf]="action.subActions" let-j="index">
                                        <li >
                                            <a (click)="executeAction(subAction)" [class]="subAction.color" >
                                                <i [class]="subAction.icon"></i>
                                                <span >{{subAction.title}}</span>
                                            </a>
                                        </li>
                                    </ng-template>
                                </ul>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="portlet-body form popup-form">
                    <div #theBody></div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <ng-template ngFor let-action [ngForOf]="formActions" let-i="index">
                                    <a name="{{action.title}}" *ngIf="!action.subActions" (click)="executeAction(action)" [class]="resolveFormBtnClass(action)" >
                                        <i [class]="action.icon"></i>
                                        <span >{{action.title}}</span>
                                    </a>
                                    <div *ngIf="action.subActions" class="btn-group" >
                                        <a [class]="resolveFormBtnClass(action)" href="javascript:;" data-toggle="dropdown" aria-expanded="false" ><!-- [title]="action.title" rel="tooltip" -->
                                            <i [class]="action.icon"></i>
                                            <span>{{action.title}}</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <ng-template ngFor let-subAction [ngForOf]="action.subActions" let-j="index">
                                                <li>
                                                    <a name="subAction.title" (click)="executeAction(subAction)" [class]="subAction.color" >
                                                        <i [class]="subAction.icon"></i>
                                                        <span >{{subAction.title}}</span>
                                                    </a>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>