<form action="#" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label">{{t('fields.resourceType')}}</label>
        <div class="col-md-8">
            <label>{{baseServices.uiHelper.getIconTitle('SDNIPRESOURCETYPE', data.resourceType)}}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">{{t('fields.policyType')}}</label>
        <div class="col-md-8">
            <label>{{baseServices.uiHelper.getIconTitle('SDNIPPOLICYTYPE', data.policyType)}}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">{{t('fields.defaultRouteAction')}}</label>
        <div class="col-md-8">
            <select class="form-control" required validation [(ngModel)]="data.defaultRouteAction"
                    name="defaultRouteAction">
                <option *ngFor="let action of SDNIPROUTEACTION | enumValues" [value]="action">
                    {{baseServices.uiHelper.getIconTitle('SDNIPROUTEACTION', action)}}
                </option>
            </select>
        </div>
    </div>
    <div class="panel-heading">{{t('fields.policyList')}}</div>
    <div class="panel panel-default" style="overflow-y: auto; max-height: 300px;">
        <table class="table table-hover table-bordered table-striped table-condensed">
            <tbody>
            <tr *ngFor="let policy of policies" (click)="selectPolicy(policy,$event)">
                <td>
                    <input type="checkbox" [checked]="policy.selected"
                           (click)="selectPolicy(policy,$event)"/>
                </td>
                <td>
                    {{policy.name}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
