<!-- BEGIN FORM-->
<form action="#" name="overlay" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.name')}}
            </label>
        </div>
        <div class="col-md-8">
            <input [(ngModel)]="rule.policyName"
                   required validation
                   name="policyName"
                   maxlength="32"
                   placeholder="{{t('fields.name')}}"
                   type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.priority')}}
            </label>
        </div>
        <div class="col-md-8">
            <!--<select [(ngModel)]="rule.priority" name="priority" class="form-control">-->
            <!--<option></option>-->
            <!--</select>-->
            <input type="number" [(ngModel)]="rule.priority" name="priority" class="form-control" maxlength="5" required
                   validation>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.mode')}}</label>
        </div>
        <div class="col-md-4">
            <input id="access" type="radio" name="accessPolicyAction"
                   (click)="rule.accessPolicyAction = ACCESSACTIONTYPE.ACCESS"
                   [checked]="rule.accessPolicyAction == ACCESSACTIONTYPE.ACCESS">
            <label for="access">{{t('fields.access_all')}} </label>
        </div>
        <div class="col-md-4">
            <input id="deny" type="radio" name="accessPolicyAction"
                   (click)="rule.accessPolicyAction = ACCESSACTIONTYPE.DENIED"
                   [checked]="rule.accessPolicyAction == ACCESSACTIONTYPE.DENIED">
            <label for="deny">{{t('fields.block_all')}}</label>
        </div>
    </div>
    <div [hidden]="rule.accessPolicyAction == ACCESSACTIONTYPE.DENIED" class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.service_quality_rule')}}
            </label>
        </div>
        <div class="col-md-8">
            <select class="form-control" [(ngModel)]="rule.quality" name="quality">
                <option *ngFor="let quality of serviceActions;"
                        [ngValue]="quality">
                    {{quality.policyName}}
                </option>
            </select>
        </div>
    </div>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
            <label class="control-label"> {{t('fields.source')}}</label>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <label class="control-label">{{t('fields.target')}}</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.mac_params')}}
            </label>
        </div>
        <div class="col-md-4">
            <input [(ngModel)]="rule.macSourceAddresses" name="macSourceAddresses"
                   (blur)="regexValidation($event,'mac')"
                   placeholder="{{t('fields.source')}}"
                   type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <input [(ngModel)]="rule.macDestAddresses"
                   name="macDestAddresses"
                   (blur)="regexValidation($event,'mac')"
                   placeholder="{{t('fields.target')}}"
                   class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.ip_params')}}
            </label>
        </div>
        <div class="col-md-4">
            <input [(ngModel)]="rule.ipSourceAddressess" name="ipSourceAddressess"
                   (blur)="regexValidation($event,'ip')"
                   placeholder="{{t('fields.source')}}"
                   type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <input [(ngModel)]="rule.ipDestAddressess" name="ipDestAddressess"
                   (blur)="regexValidation($event,'ip')"
                   placeholder="{{t('fields.target')}}"
                   class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.port_params')}}
            </label>
        </div>
        <div class="col-md-4">
            <input [(ngModel)]="rule.portSourceRanges" name="portSourceRanges"
                   (blur)="regexValidation($event,'port')"
                   placeholder="{{t('fields.source')}}"
                   class="form-control">
        </div>
        <div class="col-md-4">
            <input [(ngModel)]="rule.portDestRanges" name="portDestRanges"
                   (blur)="regexValidation($event,'port')"
                   placeholder="{{t('fields.target')}}"
                   class="form-control" type="text">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<div class="col-md-4">-->
            <!--<label class="control-label">{{t('fields.end_user')}}</label>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<input [(ngModel)]="rule.portSourceRanges" name="portSourceRanges"-->
                   <!--(blur)="regexValidation($event,'port')"-->
                   <!--placeholder="{{t('fields.source')}}"-->
                   <!--class="form-control">-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<input [(ngModel)]="rule.portDestRanges" name="portDestRanges"-->
                   <!--(blur)="regexValidation($event,'port')"-->
                   <!--placeholder="{{t('fields.target')}}"-->
                   <!--class="form-control" type="text">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.protocol')}}
            </label>
        </div>
        <div class="col-md-8">
            <input id="protocol"
                   [(ngModel)]="rule.protocols" name="protocols"
                   type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.end_user_application')}}
            </label>
        </div>
        <div class="col-md-8">
            <select select2 multiple="multiple" style="width:100%;" class="form-control" [ngModel]="initialEndUserApps"
                    (ngModelChange)="endUserAppChanged($event)" name="endUserApplication">
                <option *ngFor="let app of endUserApps" [value]="app.id">{{app.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group"> <!--Son Kullanıcı Uygulaması TODO-2914-->
        <div class="col-md-4">
            <label class="control-label">{{t('fields.vlan_tag')}}
            </label>
        </div>
        <div class="col-md-5">
            <input id="vlan-tag"
                   [(ngModel)]="rule.vlan_tags" name="vlan_tags"
                   type="text" class="form-control">
        </div>
    </div>
    <div class="form-group"> <!--Son Kullanıcı Uygulaması TODO-2914-->
        <div class="col-md-4">
            <label class="control-label">{{t('fields.mpls_tag')}}
            </label>
        </div>
        <div class="col-md-5">
            <input id="mpls-tag"
                   [(ngModel)]="rule.mpls_tags" name="mpls_tags"
                   type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.inport')}}
            </label>
        </div>
        <div class="col-md-4">
            <select id="switches" class="form-control" [(ngModel)]="rule.inportSwitch" name="inportSwitch">
                <option [ngValue]="null">{{t('fields.selection')}}</option>
                <option *ngFor="let switch of switchList"
                        [ngValue]="switch">{{switch?.id}}
                </option>
            </select>
        </div>
        <div [hidden]="!rule.inportSwitch" class="col-md-4">
            <select select2 class="form-control" multiple="multiple" [ngModel]="initialInports"
                    [required]="rule.inportSwitch ? true : null" (ngModelChange)="rule.inportSwitchPorts = $event"
                    style="width: 100%" name="inports">
                <option *ngFor="let port of rule?.inportSwitch?.portInfo?.portDetails" [value]="port.number">
                    {{port?.number}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">{{t('fields.time')}}
            </label>
        </div>
        <div class="col-md-8">
            <div class="input-daterange input-group">
                <input [ngModel]="startTime"
                       type="text"
                       class="form-control startTime" name="start" style="text-align: left;"/>
                <span class="input-group-addon">-</span>
                <input [ngModel]="endTime"
                       type="text"
                       class="form-control endTime" name="end" style="text-align: left;"/>
            </div>
        </div>
    </div>
</form>
<!-- END FORM-->
