<style>
    .list-group-item {
        border: none;
    }

    .sublinks .list-group-item {
        padding-left: 30px;
    }

    .selected {
        background-color: #F5F5F5 !important;
    }

    .list-height {
        max-height: 525px;
        overflow-y: auto;
    }

    .item-remove {
        float: right;
        top: 15px;
        right: 15px;
        color: #bababa;
        position: absolute;
        font-size: 16px;
        display: none;
    }

    .item-add {
        float: right;
        top: 15px;
        right: 15px;
        color: #bababa;
        position: absolute;
        font-size: 16px;
    }

    a:hover .item-remove {
        display: block;
    }

    .item-remove:hover {
        color: #337ab7;
    }

    .item-add:hover {
        color: #337ab7;
    }

    .dhcp_prop_list {
        min-height: 485px;
        margin-bottom: 0;
    }
</style>
<div class="portlet light bordered custom-portlet-padding" style="padding: 0;">
    <div class="portlet-body">
        <div class="panel list-group list-height dhcp_prop_list">
            <a href="javascript:" (click)="selectScope($event);"  class="list-group-item selected" (click)="scopeSelected.next();">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                {{t('propertyList.scopeInfo')}}
            </a>
            <div [hidden]="!dhcpScope.id ? true : null">
                <a  class="list-group-item collapsed" data-toggle="collapse" data-target="#scopes">
                    <i [class.fa-folder]="!scopes.classList.contains('in') "
                       [class.fa-folder-open]="scopes.classList.contains('in') || scopes.classList.contains('collapsing') " class="fa "
                       aria-hidden="true"></i>
                    {{t('propertyList.scopeIpRanges')}}
                    <i class="fa fa-plus-square item-add" aria-hidden="true" (click)="addRange($event)"></i>
                </a>
                <div #scopes id="scopes" class="sublinks collapse in">
                    <a href="javascript:" *ngFor="let range of dhcpScope.dhcpIpRangeDtos"
                       (click)="selectRange(range,$event);" class="list-group-item">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span *ngIf="!range.ipStart"> {{t('propertyList.newRange')}}</span>
                        <span *ngIf="range.ipStart">{{range.ipStart}}-{{range.ipEnd}}</span>
                        <i class="fa fa-minus-square item-remove" aria-hidden="true" (click)="removeRange(range)"></i>
                    </a>
                </div>
                <a class="list-group-item" data-toggle="collapse" data-target="#options">
                    <i [class.fa-folder]="!options.classList.contains('in') "
                       [class.fa-folder-open]="options.classList.contains('in') || options.classList.contains('collapsing') " class="fa"
                       aria-hidden="true"></i>
                    {{t('propertyList.dhcpOptions')}}
                    <i class="fa fa-plus-square item-add" aria-hidden="true" (click)="addOption($event)"></i>
                </a>
                <div #options id="options" class="sublinks collapse in">
                    <a href="javascript:" *ngFor="let option of dhcpScope.dhcpOptionDtos"
                       (click)="selectOption(option,$event);" class="list-group-item">
                        <i class="fa fa-file-text-o" aria-hidden="true" style="float:left;margin:2% 0"></i>
                        <span *ngIf="!option.dhcpOptionKey"> {{t('propertyList.newOption')}}</span>
                        <span *ngIf="option.dhcpOptionKey" style="margin-left:4px;display:inline;">[{{option.dhcpOptionKey}}] {{dhcpOptionKeys[option.dhcpOptionKey]?.name}} -
                        {{formatOptionValue(option.dhcpOptionValue,option.dhcpOptionKey)}}</span>
                        <i class="fa fa-minus-square item-remove" aria-hidden="true" (click)="removeOption(option)"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

