<form action="#" class="form-horizontal">
    <div class="form-group" *ngIf="mode == VTNPOPUPMODE.MVTN">
        <label class="col-md-3 control-label" data-i18n="network_vis.topology.create_virtual_topology_popup.vtn_type.title"></label>
        <div class="col-md-5">
            <select class="form-control"
                    [ngModel]="selectedVTN" (ngModelChange)="selectedVTNChange($event)" name="vtntype"> <!--TODO change model to dtos data.selectedVTN-->
                <option *ngFor="let vtntype of virtualNetworks" [ngValue]="vtntype">{{vtntype?.name}}</option>
            </select>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"
               data-i18n="network_vis.topology.create_virtual_topology_popup.virtual_topology_name"></label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="virtualNetworkName" [disabled]="mode != VTNPOPUPMODE.WAN && !selectedVTN?.isLocal"
                   data-i18n="[placeholder]network_vis.topology.create_virtual_topology_popup.virtual_topology_name"
                   required validation [(ngModel)]="virtualTopologyName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"
               data-i18n="network_vis.topology.create_virtual_topology_popup.vlan_tag.title"></label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="vlanTag" [disabled]="mode != VTNPOPUPMODE.WAN && !selectedVTN?.isLocal"
                   data-i18n="[placeholder]network_vis.topology.create_virtual_topology_popup.vlan_tag.placeholder"
                   required validation restrict [restrict_type]="'number'" [restrict_maxvalue]="'4096'"
                   [restrict_maxError]="i18n.t('common.messages.vlan_tag_value_error_max')"
                   
                   [(ngModel)]="virtualTopologyVlanTag">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"
               data-i18n="network_vis.topology.create_virtual_topology_popup.maximum_number_of_user.title"></label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="maximumNumberOfUser" [disabled]="mode != VTNPOPUPMODE.WAN && !selectedVTN?.isLocal"
                   required validation restrict [restrict_type]="'number'"
                   [(ngModel)]="data.maximumNumberOfUser">
        </div>
        <!--<div class="col-md-1">{{t('maximum_number_of_user.unit')}}</div>-->
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" data-i18n='policy_management.service_quality.edit.fields.energyConsumption.label'></label>
        <div class="col-md-4">
            <input class="form-control"
                   validation restrict [restrict_type]="'number'" maxlength="5" type="number" min="0"
                   data-i18n="[placeholder]policy_management.service_quality.edit.fields.energyConsumption.placeholder"
                   [(ngModel)]="data.energyConsumption" name="energyConsumption">
        </div>
        <div class="col-md-2">
            <label class="form-control-static" data-i18n='policy_management.service_quality.edit.fields.energyConsumption.unit'></label>
        </div>
    </div>
    <div class="tabbable tabbable-tabdrop">
        <ul class="nav nav-tabs">
            <li *ngIf="mode == VTNPOPUPMODE.WAN" class="active">
                <a href="#cvt-tab0" data-toggle="tab" aria-expanded="true">{{t('local_clusters')}}</a>
            </li>
            <li [ngClass]="{'active': mode != VTNPOPUPMODE.WAN}">
                <a href="#cvt-tab1" data-toggle="tab" aria-expanded="true">{{t('qos_params.title')}}</a>
            </li>
            <li class="">
                <a href="#cvt-tab2" data-toggle="tab" aria-expanded="false">{{t('address_range.title')}}</a>
            </li>
            <li class="">
                <a href="#cvt-tab3" data-toggle="tab" aria-expanded="false">{{t('mac_list.title')}}</a>
            </li>
            <li class="">
                <a href="#cvt-tab4" data-toggle="tab" aria-expanded="false">{{t('l4_port_list.title')}}</a>
            </li>
            <li class="">
                <a href="#cvt-tab5" data-toggle="tab" aria-expanded="false">{{t('gateway_definition.title')}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div [ngClass]="{'tab-pane': true, 'active': mode == VTNPOPUPMODE.WAN}" id="cvt-tab0">
                <!--<table class="table table-striped table-bordered table-hover order-column data-table" #datatable></table>-->
                <table id="tab2Datatable" class="display table table-striped table-bordered table-hover order-column" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align:center;"><input type="checkbox" (click)="checkAllClicked()"></th>
                            <th style="text-align:center;">{{t('local_cluster_name')}}</th>
                            <th style="text-align:center;">{{t('local_vtn_status')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <ng-template ngFor let-myitem [ngForOf]="lanMvtnInfos" let-i="index">
                                <tr style="text-align:center;">
                                    <td><input type="checkbox" [checked]="lanMvtnInfoInputs[myitem.domainName]" (click)="inputClicked($event, i)" [disabled]="myitem.mvtnStatus == MVTNSTATUS.ACTIVE"></td>
                                    <td>{{myitem?.domainName}}</td>
                                    <td>{{i18n.t('enums.MVTNSTATUS.'+myitem?.mvtnStatus+'.title')}}</td>
                                </tr>
                            </ng-template>
                    </tbody>
                </table>
            </div>
            <div [ngClass]="{'tab-pane': true, 'active': mode != VTNPOPUPMODE.WAN}" id="cvt-tab1">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.bandwidth')}}</label>
                    <div class="col-md-4">
                        <input #bandWidth restrict [restrict_type]="'number'" validation class="form-control"
                               maxlength="8" name="bw"
                               required
                               [restrict_maxvalue]="bandWidthUnit.options[bandWidthUnit.selectedIndex]?.dataset.max"
                               [restrict_minvalue]="bandWidthUnit.options[bandWidthUnit.selectedIndex]?.dataset.min"
                               [restrict_minError]="i18n.t('common.messages.bandwidth_field_value_error_min')"
                               [restrict_maxError]="i18n.t('common.messages.bandwidth_field_value_error_max')"
                               [(ngModel)]="bandwidth">
                    </div>
                    <div class="col-md-2">
                        <select #bandWidthUnit (change)="changeBandWith()" class="form-control" id="bw-unit-selectbox" name="bwu1"
                                [(ngModel)]="bandwidthUnit">
                            <option data-min="100" data-max="10000000" value="KBPS">KBPS</option>
                            <option data-min="0.1" data-max="10000" value="MBPS">MBPS</option>
                            <option data-min="0.0001" data-max="10" value="GBPS">GBPS</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.switch_security_level')}}</label>
                    <div class="col-md-4">
                        <select class="form-control"
                                name="switchSecurityLevel" required validation
                                [(ngModel)]="data.switchSecurityLevel">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.link_security_level')}}</label>
                    <div class="col-md-4">
                        <select class="form-control"
                                name="linkSecurityLevel" type="text" required validation
                                [(ngModel)]="data.linkSecurityLevel">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.jitter.title')}}</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               name="jitter" type="text" required validation restrict [restrict_type]="'number'"
                               [(ngModel)]="data.jitter">
                    </div>
                    <div class="col-md-1">{{t('qos_params.fields.jitter.unit')}}</div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.delay.title')}}</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               name="delay" type="text" required validation restrict [restrict_type]="'number'"
                               [(ngModel)]="data.delay">
                    </div>
                    <div class="col-md-1">{{t('qos_params.fields.delay.unit')}}</div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.packet_loss_rate.title')}}</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               name="packetLossRate" type="text" required validation restrict [restrict_type]="'number'"
                               [(ngModel)]="data.packetLossRate">
                    </div>
                    <div class="col-md-1">{{t('qos_params.fields.packet_loss_rate.unit')}}</div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('qos_params.fields.collision.title')}}</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               name="collision" type="text" required validation restrict [restrict_type]="'number'"
                               [(ngModel)]="data.collision">
                    </div>
                    <div class="col-md-1">{{t('qos_params.fields.collision.unit')}}</div>
                </div>
            </div>
            <div class="tab-pane" id="cvt-tab2">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('address_range.field')}}</label>
                    <div class="col-md-6">
                        <textarea class="form-control"
                                  name="addressRange"
                                  placeholder="{{t('address_range.placeholder')}}"
                                  (blur)="regexValidation($event,'ip')"
                                  rows="3" [(ngModel)]="addressRanges"></textarea>
                        <small>{{t('address_range.label')}}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('dns_servers.field')}}</label>
                    <div class="col-md-6">
                        <textarea class="form-control"
                                  name="dns_servers"
                                  placeholder="{{t('dns_servers.placeholder')}}"
                                  (blur)="regexValidation($event,'hostname')"
                                  rows="3" [(ngModel)]="dnsServers"></textarea>
                        <small>{{t('dns_servers.label')}}</small>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cvt-tab3">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('mac_list.field')}}</label>
                    <div class="col-md-6">
                        <textarea class="form-control"
                                  name="macList" type="text" placeholder="{{t('mac_list.placeholder')}}"
                                  (blur)="regexValidation($event,'mac')"
                                  rows="5" [(ngModel)]="macAddressList"
                                  ></textarea>
                        <small>{{t('mac_list.label')}}</small>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cvt-tab4">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('l4_port_list.field')}}</label>
                    <div class="col-md-6">
                        <textarea class="form-control"
                                  name="l4PortList" type="text"
                                  placeholder="{{t('l4_port_list.placeholder')}}"
                                  (blur)="regexValidation($event,'port')"
                                  rows="5" [(ngModel)]="l4Ranges"></textarea>
                        <small>{{t('l4_port_list.label')}}</small>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cvt-tab5">
                <div class="form-group">
                    <label class="col-md-4 control-label">{{t('gateway_definition.fields.hasGateway')}}</label>
                    <div class="col-md-4">
                        <input class="form-control-static" #hasgateway="ngModel"
                               name="hasGateway" type="checkbox" (ngModelChanged)="hasGateWayChanged()"
                               [(ngModel)]="gateway.gatewayRequired">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" [class.label-disabled]="!hasgateway.value" >{{t('gateway_definition.fields.gateway_ip')}}</label>
                    <div class="col-md-4">
                        <input class="form-control" [disabled]="!hasgateway.value || mode == VTNPOPUPMODE.WAN"
                               name="gateway_ip" type="text" required validation ip
                               [(ngModel)]="gateway.gatewayIp">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" [class.label-disabled]="!hasgateway.value">{{t('gateway_definition.fields.gateway_subnet_mask')}}</label>
                    <div class="col-md-4">
                        <input class="form-control" [disabled]="!hasgateway.value || mode == VTNPOPUPMODE.WAN"
                               name="gateway_subnet_mask" type="text" required validation ip
                               [(ngModel)]="gateway.gatewaySubnet">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
