<form action="#" class="form-horizontal">
    <div>
        <div class="form-group first" >
            <label class="col-md-3 control-label">{{t('fields.id.label')}}</label>
            <div class="col-md-8">
                <span class="form-control-static">{{data?.id}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.securityLevel.label')}}</label>
            <div class="col-md-8">
                <select class="form-control" required [(ngModel)]="data.securityLevel" name="securityLevel">
                    <option value="0">{{t('fields.securityLevel.placeholder')}}</option>
                    <option *ngFor="let p of SECURITYLEVELS_DS" [value]="p.value">{{i18n.t('enums.SECURITYLEVELS.'+p.name)}}</option>
                </select>
                <span class="help-block">{{t('fields.securityLevel.help_line')}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.wanLink.label')}}</label>
            <div class="col-md-8">
                <input type="checkbox" [(ngModel)]="data.isWanLink" name="isWanLink">
            </div>
        </div>
        <!-- div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.medium.label')}}</label>
            <div class="col-md-8">
                <select class="form-control" required [(ngModel)]="data.medium">
                    <option value="">{{t('fields.medium.placeholder')}}</option>
                    <option *ngFor="let s of LINKMEDIUM_DS" [value]="s">{{i18n.t('enums.LINKMEDIUM.'+s)}}</option>
                </select>
                <span class="help-block">{{t('fields.medium.help_line')}}</span>
            </div>
        </div -->
    </div>
</form>