<!-- BEGIN FORM-->
<form action="#" class="form-horizontal" autocomplete="nope">
    <div class="form-body">
        <div *ngIf="popupMode == PASSWORD_POPUP_MODE.SET_PWD" class="form-group first">
            <label class="col-md-3 control-label">{{t('fields.username.label')}}</label>
            <div class="col-md-8">
                <span class="form-control-static">{{data.username}}</span>
            </div>
        </div>
        <div *ngIf="popupMode == PASSWORD_POPUP_MODE.CHANGE_PWD" class="form-group">
            <label class="col-md-3 control-label">{{t('fields.currentPassword.label')}}</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="password" class="form-control" autocomplete="nope"
                           minlength="1"
                           maxlength="50"
                           required validation
                           placeholder="{{t('fields.currentPassword.placeholder')}}"
                           [(ngModel)]="currentPassword" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                </div>
                <span class="help-block">{{t('fields.currentPassword.help_line')}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.newPassword.label')}}</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input #pass1 type="password" class="form-control" autocomplete="nope"
                           minlength="6"
                           maxlength="50"
                           required validation
                           PasswordChecker
                           (keyup)="pass2.value = ''"
                           placeholder="{{t('fields.newPassword.placeholder')}}"
                           [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                </div>
                <span class="help-block">{{t('fields.newPassword.help_line')}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{t('fields.newPasswordRetype.label')}}</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input #pass2 type="password" class="form-control" autocomplete="nope"
                           minlength="6"
                           maxlength="50"
                           required validation
                           PasswordMatcher [pm_target]="pass1"
                           placeholder="{{t('fields.newPasswordRetype.placeholder')}}"
                           [(ngModel)]="newPasswordRetype" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                </div>
                <span class="help-block">{{t('fields.newPasswordRetype.help_line')}}</span>
            </div>
        </div>
    </div>
</form>
<!-- END FORM-->
