<!-- BEGIN FORM-->
<form action="#" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.nodeType.label')}}</label>
        <div class="col-md-4">
            <select class="form-control" required validation [(ngModel)]="data.nodeType" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let nodeType of NODE_TYPES" [value]="nodeType">{{i18n.t('enums.NODETYPE.' + nodeType)}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.componentName.label')}}</label>
        <div class="col-md-9">
            <input class="form-control"
                   maxlength="30"
                   required validation [(ngModel)]="data.componentName" [ngModelOptions]="{standalone: true}"
                   [placeholder]="t('fields.componentName.help_line')"
            />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.configKey.label')}}</label>
        <div class="col-md-9">
            <input class="form-control"
                   maxlength="60"
                   required validation [(ngModel)]="data.configKey" [ngModelOptions]="{standalone: true}"
                   [placeholder]="t('fields.configKey.help_line')"
            />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.valueType.label')}}</label>
        <div class="col-md-4">
            <select (ngModelChange)="valueTypeChange($event)" class="form-control" required validation [(ngModel)]="data.valueType" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let valueType of VALUE_TYPES" [value]="valueType">{{i18n.t('enums.CONFIGVALUETYPE.' + valueType)}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.defaultValue.label')}}</label>
        <div class="col-md-9" *ngIf="isValueTypeText()">
            <input class="form-control" type="text"
                   maxlength="60"
                   required validation [(ngModel)]="data.defaultValue" [ngModelOptions]="{standalone: true}"
                   [placeholder]="t('fields.defaultValue.help_line')"
            />
        </div>
        <div class="col-md-4" *ngIf="isValueTypeNumber()">
            <input class="form-control" type="number"
                   maxlength="10"
                   required validation [(ngModel)]="data.defaultValue" [ngModelOptions]="{standalone: true}"
                   [placeholder]="t('fields.defaultValue.help_line')"
            />
        </div>
        <div class="col-md-4" *ngIf="isValueTypeBoolean()">
            <select class="form-control" required validation [(ngModel)]="data.defaultValue" [ngModelOptions]="{standalone: true}">
                <!-- option *ngFor="let boolType of BOOLEANS" [value]="boolType">{{i18n.t('enums.BOOLEAN.' + boolType + '.bool_title')}}</option -->
                <option *ngFor="let boolType of BOOLEANS" [value]="boolType">{{boolType}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{t('fields.description.label')}}</label>
        <div class="col-md-9">
            <textarea class="form-control"
                      rows="5"
                      [(ngModel)]="data.description" [ngModelOptions]="{standalone: true}"
                      [placeholder]="t('fields.description.help_line')"
            >
            </textarea>
        </div>
    </div>
</form>
<!-- END FORM-->
